:root {
    --bg-color: #e9464f;
    --bg-color-dark: #e9464f;
    --bg-color-medio: #c9414e;
    --bg-color-dark-2: #963445;
    --bg-color-second: #393a72;
    --bg-color-second-medio: #5355a7;
    --bg-color-second-dark: #7476ba;
}