:root {
    --bg-color-claro:#f3c8c5;
    --bg-color-claro2:#eb7971;
    --bg-color: #771e18;
    --bg-color-dark:#591614;
    --bg-color-secondary:#757EED;
    --bg-color-secondary-dark:#525DE9;
    --bg-color-amarillo:#ffd966;
    --bg-color-amarillo2:#ffc000;
    --bg-color-claro3:#F4B081;
}

