body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  height: 72%;
  padding-top: 0px;
}

#quiz {
  margin-top: 20px; 
  background-color: #D3DCEB;
  height: 360px;
  padding-bottom: 60px;
  width: 100%;
  border-radius: 63px 63px 63px 63px;
  color: #fff;
  text-align: center;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}

#quiz > h1 {
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
}

.questions {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding: 20px;
}

.answers div {
  padding: 10px 0 0 0;
  font-size: 16px;
}

.answers div:hover {
  cursor: pointer;
  color: #000000;
}

.answers {
  justify-content: center;
  color: #000000;
}

.answers div {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 15px;
}

/* .answers div:first-child {
  border: none;
} */

.checker {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
}

.correct, .false {
  background-color: #963445;
  width: 60px;
  height: 30px;
  line-height: 30px;
  padding-left: 4px;
  float: left;
  margin-left: 2px;
  margin-top: 2px;
}

.false {
  background-color: #963445;
}

.opcion{
  border: solid #963445;
  border-radius: 20px;
}

.img_cont{
  max-width: 70%;
}

.optciones{
  display: inline-block;
    width: 60%;
}

.tranparente{
  background: transparent;
  border: none;
}

.principal{
  height: 400px;
  border-radius: 40px;
  background: #E3464F;
}

.cabeza{
  background: #963445;
  height: 100px;
  border-radius: 40px 40px 0px 0px;
}
.circulo_modal{
  height: 125px;
  width: 125px;
  background: gray;
  border-radius: 50%;
  position: relative;
  top: -60px;
  text-align: center;
  border: 3px solid white;
}

.circulo_modal img{
  max-width: 90%;
    border-radius: 50%;
    background: #FFC000;
    border: 3px solid #FFC000;
    top: 6px;
    position: relative;
}

.boton_inc{
  background: #963445;
  color: white;
  border-radius: 10px;
  font-size: 22px;
}

.border-bottom-actividad{
    border-bottom: solid 3px #963445;
}

.img-activi{
    width: 116px;height: 116px;
}

.text-img-actividad{
    font-size: 16px;
    color: #963445;
}

.content-text-img-activi{
  border-bottom: solid 3px #963445;
  height: 86px;
  margin: 0px;
  padding-top: 45px;
  text-align: center;
}

.content-text-img-activi-2{
  border-bottom: solid 3px #963445;
  width: 50%;
  height: 86px;
  margin: 0px;
  padding-top: 20px;
  text-align: center;
}

.content-tarjeta{
  background: #963445;
  border-radius: 20px;
  padding: 15px;
}

.max-w-30px{
    max-width: 30px;
}

.content-text-activi{
    background: #963445;
    border-radius: 20px;
    padding: 30px;
}

.content-text-activi-2{
    border: solid 2px #963445;
    border-radius: 20px;
    padding: 30px;
}

.d-flex{
  display: flex;
}

.tab-pane iframe {
  width: 100%;
  overflow: hidden;
  min-height: 747px;
}




.btn-primary{
  background: white;
  border: none;
  border-radius: 0;
  font-family: 'Barmeno', sans-serif;
  font-size: 1.15em;
  padding: 6px 30px;
  border-radius: 9px;
}
.btn-primary:active, .btn-primary:active:focus, .btn-primary:focus, .btn-primary:hover{
  background: white;
  border: none;
  outline: 0;
}
.btn-secundary{
  background: white;
  border: none;
  border-radius: 0;
  color: #E3464F;
  font-family: 'Barmeno', sans-serif;
  font-size: 1.15em;
  font-weight: 600;
  padding: 6px 30px;
  border-radius: 9px;
}
.btn-secundary:active, .btn-secundary:active:focus, .btn-secundary:focus, .btn-secundary:hover{
  background: white;
  border: none;
  color: #E3464F;
  outline: 0;
}
.calificacion .modal-content{
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.calificacion .modal-body{
  background-size: cover;
  /* height: 386px; */
  width: 300px;
  color: white;
}
/* .calificacion .modal-body.exito{
  background: url('./img/bien.png') center no-repeat;
}
.calificacion .modal-body.parcial{
  background: url('./img/mal.png') center no-repeat;
} */
.calificacion .modal-body .mensaje{
  /* background: #fff; */
  border-radius: 8px;
  font-size: 20px;
  line-height: normal;
  margin: 0 25px;
  padding: 5px;
  position: relative;
}
/* .calificacion .modal-body .mensaje:after{
  bottom: -30px;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 15px;
  content: "";
  left: calc(50% - 15px);
  position: absolute;
} */
.calificacion .modal-body .mensaje .texto-puntaje{
  display: block;
}
.calificacion .modal-body .mensaje .puntaje{
  font-size: 1.1em;
  font-weight: bold;
}
.calificacion .modal-body.exito .mensaje .puntaje{
  color: white;
}
.calificacion .modal-body.parcial .mensaje .puntaje{
  color: white;
}
@keyframes wobble {
  0% {
      -webkit-transform: none;
      transform: none;
  }

  15% {
      -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
      -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
      -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
      -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
      -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  100% {
      -webkit-transform: none;
      transform: none;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
} 
.calificacion .modal-footer {
  border: none;
  text-align: center;
}


.divcerrar {
position: relative;
  top: -20px;
  /* left: 94%; */
}


.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 22px;
  outline: 0;
  /* background-color: transparent; */
  border-color: rgba(0, 0, 21, 0.0);
}
.card-container, .front, .back {
  width: 100%;
  height: auto;
  border-radius: 22px;
  background: #E3464F;
}
.card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.card .user {
  border-radius: 50%;
  display: block;
  height: 120px;
  margin: -70px auto 0;
  overflow: hidden;
  width: 120px;
  background: #999999;
  border: 3px solid white;
}
.card .content {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding: 10px 20px 20px;
}
.card .user img {
  background: none;
  display: block;
  margin: 5px auto;
  max-width: 90%;
  position: relative;
  padding: 7px;
  
  
  
  /* border: 5px solid yellow; */
}

.circulo-naranja{
  background-color: #FFC000 !important;
  border-radius: 50%;
}
.card .cover {
  height: 105px;
  overflow: hidden;
  border-radius: 22px 22px 0 0;
  background: #963445;
}
.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

.x-modal{
  background: #E3464F;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
}

.x-modal-text{
  display: block;
  margin: auto;
}