html {
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 10px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.4;
    margin: 1.5rem 0;
}

h1 {
    font-size: 2.8rem;
    margin: .85rem 0rem;
    text-align: center;
}

h2 {
    font-size: 2.8rem;
    margin: 2.1rem 0rem;
}

h3 {
    font-size: 2.1rem;
    margin: 1.57rem 0rem;
    text-align: center;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.0rem;
}

p {
    margin: 0rem 0rem 2.4rem 0rem;
    line-height: 150%;
    text-align: center;
}

ul,
ol {
    margin-left: 25px;
    margin-bottom: 15px;
    line-height: 150%;
}


/*clearfixes*/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
div {
    margin: 0;
}

div {
    margin: 0rem;
}

.page {
    max-width: 690px;
    /*margin: 0px auto;*/
}


/*drag and drop styles*/

.dnd-image-drag .contenedores {
    float: none;
    margin: 0 10px 20px 10px;
}

.dnd-image-drag .gallery-list {
    /*width: 230px;*/
    height: 173px;
    /*background: #eee;
  border: solid 1px #ccc;*/
    padding: 5px 0 5px 5px;
}

.dnd-image-drag .gallery-list .drag {
    width: 30px;
    display: inline-block;
    /*height: 80px;*/
    border: solid 1px #ccc;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    border: solid 1px transparent;
}

.dnd-image-drag .gallery-list .drag.drag-active {
    border: solid 1px #2c3e50;
}

.dnd-image-drag .gallery-painting {
    height: 260px;
    width: 240px;
    left: 7px;
    position: relative;
    /* background: #eee; */
    background-position: center center;
    background-size: cover;
    border: solid 1px #EAEAEA;
    padding: 5px 0 5px 5px;
    margin: auto;
}

.dnd-image-drag .gallery-painting .drop {
    position: absolute;
    /*height: 150px;
  width: 150px;*/
    display: inline-block;
    /*background: rgba(50, 50, 50, 0.7);
  border: solid 1px transparent;*/
    overflow: hidden;
}

.dnd-image-drag .gallery-painting .drop.drop-active {
    border: solid 1px #f1c40f;
}

.dnd-image-drag .gallery-painting .drop.correct {
    /*border: solid 1px #32ce74;*/
}

.dnd-image-drag .gallery-painting .drop.incorrect {
    /*border: solid 1px #c0392b;*/
}

.dnd-image-drag .gallery-painting .drop img {
    max-width: 100%;
    height: auto;
}

.reset-button {
    background: #eee;
    border: solid 1px #ccc;
    padding: 12px 15px;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    min-width: 100px;
    clear: both;
}

.message-container {
    clear: both;
}

.ie-message {
    display: none;
    padding: 15px;
    background: #e74c3c;
    color: #fff;
    border: dashed 2px #c0392b;
    margin-bottom: 15px;
}

.p {
    font-size: 15px;
    padding-top: 150px;
    clear: both;
}

.bg-pantalla {
    background: #EAEAEA;
}

.width-fit {
    width: fit-content;
}

.height-fit {
    height: fit-content;
}

.fondo-actividad {
    background-image: url(../img/img-2/interraccion_letras.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*
  width: 465px;
  height: 100px;
  padding: 37px 0px 0px 84px;*/
}

.drop1 {
    top: 154px;
    left: 117px;
    height: 29px;
    width: 24px;
}

.drop2 {
    top: 191px;
    left: 145px;
    height: 31px;
    width: 21px;
}

.drop3 {
    top: 226px;
    left: 74px;
    height: 34px;
    width: 22px;
}

.drop4 {
    top: 264px;
    left: 48px;
    height: 32px;
    width: 29px;
}

.drop5 {
    top: 299px;
    left: 123px;
    height: 31px;
    width: 22px;
}

.drop6 {
    top: 332px;
    left: 192px;
    height: 30px;
    width: 26px;
}


/*.drop1{
  top: 25px;
  left: 245px;
  height: 48px;
  width: 39px;
}

.drop2{
  top: 84px;
  left: 290px;
  height: 50px;
  width: 38px;
}

.drop3{
  top: 139px;
  left: 176px;
  height: 52px;
  width: 35px;
}

.drop4{
  top: 200px;
  left: 135px;
  height: 49px;
  width: 47px;
}
.drop5{
  top: 258px;
  left: 257px;
  height: 48px;
  width: 35px;
}

.drop6{
  top: 309px;
  left: 366px;
  height: 45px;
  width: 41px;
}*/

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.text-drag1 {
    position: absolute;
    top: 46px;
    left: 57px;
    margin: 0px;
    width: 20px;
    text-align: center;
    color: #ffffff;
}

.text-drag2 {
    position: absolute;
    top: 116px;
    left: 153px;
    margin: 0px;
    width: 20px;
    text-align: center;
    color: #ffffff;
}

.text-drag3 {
    position: absolute;
    top: 46px;
    left: 147px;
    margin: 0px;
    width: 20px;
    text-align: center;
    color: #ffffff;
}

.text-drag4 {
    position: absolute;
    top: 126px;
    left: 62px;
    margin: 0px;
    width: 20px;
    text-align: center;
    color: #ffffff;
}

.p_black {
    color: #000000;
}

.p_black a {
    color: #000000;
}

.justificado {
    text-align: justify;
}

.bg-verde {
    background: #066D70;
}

.img-actividad {
    width: 100px;
}

.cursor {
    cursor: pointer;
}

.radius-2 {
    border-radius: 1rem;
}

.x-modal {
    background: #FFE14E;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
}

.x-modal-text {
    display: block;
    margin: auto;
}

.front-white {
    background: #FFFFFF;
}

.borde-inferior {
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
}

.centered-propio-1 {
    top: 8%;
}

.h-55px-i {
    height: 55px !important;
}

.d-grid {
    display: grid;
}

.h-50px {
    height: 50px;
}

.h-100px {
    height: 100px;
}

.w-46px {
    width: 46px;
}

.w-40px {
    width: 40px;
}

.h-40px {
    height: 40px;
}

.bg-info-text {
    background: #2E2854;
}

.bg-btn-plus {
    background: #CDBC00;
}

.btn-gif {
    animation: gifs 1s alternate infinite ease-out;
}


/*#pelota {
  position: absolute;
}
*/

@keyframes gifs {
    0% {
        width: 40px;
        height: 40px;
    }
    50% {
        width: 30px;
        height: 30px;
    }
    100% {
        width: 40px;
        height: 40px;
    }
}

.menos-t-30px {
    top: -30px;
}