.size_13{
  font-size: 13px;
}
.bane1{
  background: #b2c3ff;
}
.fijo{
  width: 700px;
  height: 360px;
}
.btn-border{
  height: 12px;width: 12px;
  border-radius: 50%;
  
  border: solid white 2px;
  margin-left: 5px;
}
.btn-borderActive{
  background: #97182F;
}
.btn-borderInactive{
  background: #757EED;
}
.estilosB1{
  position: relative;
  top: -145px;
  left: -12px;
  width: 40%;
  padding: 10px;
  background: #ffffff73;
  border: solid #97182f;
  border-radius: 20px;
}
.estilosB2{
  position: relative;
  top: -399px;
  left: -12px;
  width: 40%;
  padding: 10px;
  background: #ffffff73;
  border: solid #97182f;
  border-radius: 20px;
}
.estilosB3{
  position: relative;
  top: -565px;
  left: 125px;
  width: 63%;
  padding: 10px;
  background: #ffffff73;
  border: solid #97182f;
  border-radius: 20px;
}
.estilosB4{
  position: relative;
  top: -659px;
  left: 421px;
  width: 45%;
  padding: 10px;
  background: #ffffff73;
  border: solid #97182f;
  border-radius: 20px;
}
.oculto{
  visibility: hidden;
}
.mostrado{
  visibility: visible;
}
.text-simple{
    position: relative;
    top: -670px;
    width: 28%;
}
.baneremociones{
  width: 300px;
    position: relative;
    left: -62px;
}
.banner2{
  background: #aad5d0;
  padding: 15px;
  border-radius: 30px;
}
.textobanner{
  width: 50%;
  padding-top: 30px;
}
.hojaManchada{
  background-image: url('../assets/img/img_ova/fondo_hoja.png');
  background-size: 100%;
}
.earl{
  width: 110px;
  height: 110px;
}
.marco{
  width: 130px;
  height: 130px;
  border: solid 1px #97182f;
  padding: 10px;
}
.triangulo-borbuja{
    width: 0;
    height: 0;
    border-left: 15px solid #ffffff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    transform: rotate(90deg);
    margin-left: 30px;
    position: relative;
    top: -15px;
}
.blue_target{
  background: #757EED;
  padding: 1px;
  border-radius: 10px;
  width: 145px;
  height: 105px;
}
.borbuja{
  background: #fff;
  border-radius: 10px;
  height: 47px;
}
.textoBorbuja{
  padding: 14px 24px 1px 26px;
  text-align: center;
}
.btnVino{
  background: #540F23;
}
.borde_red{
  border-right: solid 1px #97182f;
}
.img-15{
  width: 15%;
}
.img-140{
  width: 140%;
}
#dimensiones{
  width: 800px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.social0{
  background-image: url('../assets/img/img_ova/social0.jpg');
}
.social1{
  background-image: url('../assets/img/img_ova/social2.jpg');
}
.social2{
  background-image: url('../assets/img/img_ova/social3.jpg');
}
.social3{
  background-image: url('../assets/img/img_ova/social4.jpg');
}
.social4{
  background-image: url('../assets/img/img_ova/social5.jpg');
}
.social5{
  background-image: url('../assets/img/img_ova/social6.jpg');
}
.social6{
  background-image: url('../assets/img/img_ova/social6.jpg');
  z-index: 1;
  opacity: 0.6;
}
.btn-pintura{
  width: 15px;height: 15px;
  border-radius: 50%;
  
  border: solid 1px #96182F;
  margin-bottom: 5px;
}
.btn-pinturaActive{
  background: #96182F;
}
.btn-pinturaInactive{
  background: #757EED;
}
.cont-btns{
  position: relative;
  left: 30px;
  top: 70px;
}
.bannerTextPintura{
  width: 70%;
  height: 150px;
  background: #ffffffb0;
  padding: 10px;
  border-radius: 20px;
  border: solid 1px #97182f;
  position: relative;
  left: 161px;
  top: 2px;
}
.inactive{
  display: none;
}
.active{
  display: block;
}
.flotante{
  width: 60%;
  background: #757EED;
  padding: 10px;
  border-radius: 15px;
}


