.size_13{
  font-size: 13px;
}
.bane1{
  background: #b2c3ff;
}
.fijo{
  width: 700px;
  height: 360px;
}
.btn-border{
  height: 12px;width: 12px;
  border-radius: 50%;
  background: #757EED;
  border: solid white 2px;
  margin-left: 5px;
}