.cafe-c-1{
	background: #B01A33;
}

.bg-rojo-1{
	background: #E32242;
}


.bg-rojo-2{
  background: #E8687D;
}

.border-rojo-1{
	border: solid #E32242 1px;
}

.p-black{
  color: black!important;
}

.border-bottom-0{
  border-radius: 0.5rem 0.5rem 0 0!important;
}

.triangulo-abajo{
	border-right: solid transparent 25px;
	border-top: solid #97182F 25px;
	border-left: solid transparent 25px;
}

.triangulo-abajo-blanco{
	border-right: solid transparent 25px;
	border-top: solid #FFFFFF 25px;
	border-left: solid transparent 25px;
}

.triangulo-arriba{
	border-right: solid transparent 25px;
	border-bottom: solid #97182F 25px;
	border-left: solid transparent 25px;
}

.triangulo-derecha{
  border-top: solid transparent 25px;
  border-right: solid #97182F 25px;
  border-bottom: solid transparent 25px;
}

.triangulo-izquierda{
  border-top: solid transparent 25px;
  border-left: solid #97182F 25px;
  border-bottom: solid transparent 25px;
}

.bg-morado{
	background: #632D36;
}

.border-morado{
  border: solid #632D36 3px;
}

.custom-scrollbar_uno{
  position: relative;
  height: 220px;
  overflow: hidden;
}

.custom-scrollbar__inner_uno {
  height: 100%;
  width: calc(100% + 40px);
  padding-right: 75px;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.custom-scrollbar__bar_uno {
  position: absolute;
  top: 18px;
  bottom: 20px;
  background:#FFFFFF;
  width: 3px;
  right: 30px;
  border-radius: 4px;

}

.custom-scrollbar__knob_uno {
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FFFFFF;
  transform: translate(-50%, -50%);
  will-change: top;
  cursor: pointer;
}

.linea_scroll_uno {
  font-size: 50px;
    margin: 0px;
    position: relative;
    top: -32px;
    color: #540F23;
}


.inputDiv {
  width: 100%;
  display:block;
  color:#aaa;
  position:relative;
}
.output{display:none; width:40px; text-align:center;}

input[type='range'] {
  display: inline-block;
  width: 100%;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  margin-top: -15px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  background-color: #FFFFFF;
  width: 25px;
  height: 25px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #FFFFFF;
  height: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  background-color: #FFFFFF;
  height: 3px;
}

input[type=range]::-ms-track {
  background-color: #FFFFFF;
  height: 3px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background-color: #FFFFFF;
  cursor: pointer;
}

input[type=range]::-ms-fill-upper {
  background-color: #FFFFFF;
  cursor: pointer;
}

.bg-gris{
	background: #A6A6A6;
}

.border-left-rojo-c{
  border-left: solid #E8687D 2px;
}
.border-right-rojo-c{
  border-right: solid #E8687D 2px;
}
.border-top-rojo-c{
  border-top: solid #E8687D 2px;
}
.border-bottom-rojo-c{
  border-bottom: solid #E8687D 2px;
}

.border-abajo-radius{
  border-bottom-right-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
}

.bocadillo{
    position: relative;
    background: #540F23;
    color: #FFF;
    font-weight: normal;
    font-size: 14px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    text-align: left;
    width: 80%;
    min-height: 60px;
    height: fit-content;
    margin-left: 15%;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.bocadillo:after{
    right: 100%;
    top: 0%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left: 62px solid transparent;
    border-top: 10px solid #540F23;
    border-right: 82px solid #540F23;
    border-bottom: 19px solid transparent;
}

.borde_das{
      border: dashed #FF0000 2px;
}

.linea_fun{
  background-image: url('../assets/img/img_ova/linea.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 470px;
  width: 685px;
  margin-top: 15%;
}
.btn_aqua{
  background: transparent;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      z-index: 100;
}
.globo1{
  background: #911d30; width: 57%;padding: 6px;border-radius: 10px;height: 53px;
}
.indica1{
  width: 0;height: 0;border-left: 43px solid #911d30;border-top: 2px solid transparent;border-bottom: 35px solid transparent;
}
.indica1-1{
  width: 0;height: 0;border-left: 43px solid #911d30;border-top: 2px solid transparent;border-bottom: 35px solid transparent;margin-left: 106px;
}
.indica1-2{
  width: 0;height: 0;border-left: 43px solid #911d30;border-top: 2px solid transparent;border-bottom: 35px solid transparent;margin-left: 100px;
}
.indica1-3{
  width: 0;height: 0;border-left: 43px solid #911d30;border-top: 2px solid transparent;border-bottom: 35px solid transparent;margin-left: 65px;
}
.indica1-4{
  width: 0;height: 0;border-left: 43px solid #911d30;border-top: 2px solid transparent;border-bottom: 35px solid transparent;margin-left: 75px;
}
.indica1-5{
  width: 0;height: 0;border-left: 43px solid #911d30;border-top: 2px solid transparent;border-bottom: 35px solid transparent;margin-left: 115px;
}
.indica1-6{
  width: 0;height: 0;border-left: 43px solid #911d30;border-top: 2px solid transparent;border-bottom: 35px solid transparent;margin-left: 85px;
}
.indica1-7{
  width: 0;height: 0;border-left: 43px solid #911d30;border-top: 2px solid transparent;border-bottom: 35px solid transparent;margin-left: 86px;top: -2px;position: relative;
}
.indica1-8{
  width: 0;height: 0;border-left: 43px solid #911d30;border-top: 2px solid transparent;border-bottom: 35px solid transparent;margin-left: 90px;top: -2px;position: relative;
}
.size_13{
  font-size: 13px;
}
.globo2{
  background: #911d30;width: 40%;padding: 13px;border-radius: 20px;height: 137px;margin-top: 13%;margin-left: 15%;
}
.indica2{
  width: 0;height: 0;border-right: 65px solid transparent;border-top: 1px solid transparent;border-left: 5px solid transparent;border-bottom: 33px solid #911d30;margin-left: -9px;position: relative;top: -45px;
}
.indica2-1{
  width: 0;height: 0;border-right: 65px solid transparent;border-top: 1px solid transparent;border-left: 5px solid transparent;border-bottom: 33px solid #911d30;margin-left: -9px;position: relative;top: -38px;
}
.indica2-2{
  width: 0;height: 0;border-right: 65px solid transparent;border-top: 1px solid transparent;border-left: 5px solid transparent;border-bottom: 33px solid #911d30;margin-left: -9px;position: relative;top: -34px;
}
.indica2-3{
  width: 0;height: 0;border-right: 65px solid transparent;border-top: 1px solid transparent;border-left: 5px solid transparent;border-bottom: 33px solid #911d30;margin-left: -9px;position: relative;top: -37px;
}
.indica2-4{
  width: 0;height: 0;border-right: 65px solid transparent;border-top: 1px solid transparent;border-left: 5px solid transparent;border-bottom: 33px solid #911d30;margin-left: -9px;position: relative;top: -45px;
}
.indica2-5{
  width: 0;height: 0;border-right: 65px solid transparent;border-top: 1px solid transparent;border-left: 5px solid transparent;border-bottom: 33px solid #911d30;margin-left: -9px;position: relative;top: -40px;
}
.indica3{
      width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-top: 0px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 35px solid #911d30;
    margin-left: 267px;
    position: relative;
    top: -39px;
}
.indica4{
      width: 0;
    height: 0;
    border-right: 26px solid transparent;
    border-top: 38px solid transparent;
    border-left: 24px solid transparent;
    border-bottom: 30px solid #911d30;
    margin-left: 267px;
    position: relative;
    top: -41px;
    left: 90px;
}

.indica5{
  width: 0;
    height: 0;
    border-right: 39px solid transparent;
    border-top: 38px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 30px solid #911d30;
    margin-left: 267px;
    position: relative;
    top: -42px;
    transform: scaleX(-1);
    left: -81%;
}

.white{
  height: 440px;
}
.finaltext{
  color: #ffaf81;
  text-align: center;
  padding-top: 50%;
  padding-left: 15%;
  padding-right: 15%;
  font-weight: bold;
}
.gris{
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.indicadores{

}
.escondidas{
  visibility: hidden;
}
.mostradas{
  visibility: visible;
}

.scrul{
  height: 200px;overflow: auto;
}


.tooltip_example {
    width: 500px;
    display: none;
    background: #FFFFFF;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    top: -156px;
    word-wrap: break-word;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    margin-bottom: 2em;
    height: 200px;
}

.tooltip_example:after{
    content: '';
    display: block;
    position: absolute;
    top: 194px;
    left: -120px;
    width: 0;
    height: 0;
    border-right: 1px solid transparent;
    border-top: 102px solid transparent;
    border-left: 54px solid transparent;
    border-bottom: 66px solid #ffffff;
    margin-left: 294px;
    transform: rotate(182deg);
}

.tooltip_example2 {
        width: 500px;
    display: none;
    background: #FFFFFF;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    top: -107px;
    left: 157px;
    word-wrap: break-word;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    margin-bottom: 2em;
    height: 200px;
}
.tooltip_example3 {
        width: 500px;
    display: none;
    background: #FFFFFF;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    top: -150px;
    left: 157px;
    word-wrap: break-word;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    margin-bottom: 2em;
    height: 200px;
}
.tooltip_example4 {
    width: 480px;
    display: none;
    background: #FFFFFF;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    top: -45px;
    left: 327px;
    word-wrap: break-word;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    margin-bottom: 2em;
    height: 200px;
}
.tooltip_example5 {
    width: 500px;
    display: none;
    background: #FFFFFF;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    top: -151px;
    left: 283px;
    word-wrap: break-word;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    margin-bottom: 2em;
    height: 200px;
}

.tooltip_example2:after{
    content: '';
    display: block;
    position: absolute;
    top: 194px;
    left: -120px;
    width: 0;
    height: 0;
    border-right: 1px solid transparent;
    border-top: 102px solid transparent;
    border-left: 54px solid transparent;
    border-bottom: 66px solid #ffffff;
    margin-left: 294px;
    transform: rotate(182deg);
}
.tooltip_example3:after{
    content: '';
    display: block;
    position: absolute;
    top: 194px;
    left: -120px;
    width: 0;
    height: 0;
    border-right: 1px solid transparent;
    border-top: 102px solid transparent;
    border-left: 54px solid transparent;
    border-bottom: 66px solid #ffffff;
    margin-left: 429px;
    transform: rotate(182deg);
}
.tooltip_example4:after{
    content: '';
    display: block;
    position: absolute;
    top: 194px;
    left: -120px;
    width: 0;
    height: 0;
    border-right: 1px solid transparent;
    border-top: 102px solid transparent;
    border-left: 54px solid transparent;
    border-bottom: 66px solid #ffffff;
    margin-left: 429px;
    transform: rotate(182deg);
}
.tooltip_example5:after{
    content: '';
    display: block;
    position: absolute;
    top: 194px;
    left: -120px;
    width: 0;
    height: 0;
    border-right: 69px solid transparent;
    border-top: 53px solid transparent;
    border-left: -10px solid transparent;
    border-bottom: 66px solid #ffffff;
    margin-left: 521px;
    transform: rotate(172deg);
}

.opacidad{
  background: #0000006b;
  transition: 1s;
}

.trias{
    width: 0;
    height: 0;
    border-left: 25px solid #79132a;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    margin-top: 60px;
    cursor: pointer;
}

.closed{
  width: 38px;height: 38px;border-radius: 50%;background: #79132a;float: right;font-weight: bold;color: white;text-align: center;padding-top: 7px;margin-top: -30px;position: relative;left: 25px;cursor: pointer;
}