.border-color-left-c{
  border-left: solid #006092 3px;
}

.border-color-left-o{
  border-left: solid #003442 3px;
}

.border-color-bottom-c{
  border-bottom: solid #006092 3px;
}

.border-color-bottom-o{
  border-bottom: solid #003442 3px;
}

.border-color-top-c{
  border-top: solid #006092 3px;
}

.border-color-top-o{
  border-top: solid #003442 3px;
}

.border-color-right-c{
  border-right: solid #006092 3px;
}

.border-color-right-o{
  border-right: solid #003442 3px;
}

.bg-naranja-1{
  background: #F28800;
}

.bg-gris-o{
  background: #D1D1D1;
}

.h-6px{
  height: 6px;
}

.h-80px{
  height: 80px;
}

.top-n40px{
  top: -40px;
}

.w-80px{
  width: 80px;
}

.justify-content-evenly{
  justify-content: space-evenly;
}

.bg-azul-1{
  background: #009DF2;
}

.text-rojo-1{
  color: #C00000;
}

.triangulo-derecha{
  border-top: solid 25px transparent;
  border-left: solid 40px transparent;
  border-bottom: solid 25px transparent;
  width: 0px;
  height: 0px;
}
.triangulo-izquierda{
  border-top: solid 25px transparent;
  border-right: solid 40px transparent;
  border-bottom: solid 25px transparent;
  width: 0px;
  height: 0px;
}

.border-right-color-c{
 border-right-color: #006092;
}
.border-left-color-c{
 border-left-color: #006092;
}

.bg-azul-2{
  background: #4472C4;
}

.bg-amarrillo-1{
  background: #FFC747;
}

.bg-amarrillo-2{
  background: #FFE7B3;
}

.bg-naranja-2{
  background: #FCBFA6;
}

.bg-azul-3{
  background: #0A57BF;
}

.bg-verde-1{
  background: #0AB8BF;
}