/*Deslizador*/

.inputDiv,.inputDiv2 {
  width: 100%;
  display:block;
  color:#aaa;
  position:relative;
}
.output{display:none; width:40px; text-align:center;}

input[type='range'] {
  display: inline-block;
  width: 100%;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #771E18;
  width: 30px;
  height: 30px;
  border: 3px solid #771E18;
  border-radius: 50%;
  margin-top: -15px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  background-color: #771E18;
  width: 25px;
  height: 25px;
  border: 3px solid #771E18;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  background-color: #771E18;
  width: 30px;
  height: 30px;
  border: 3px solid #771E18;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #771E18;
  height: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  background-color: #771E18;
  height: 3px;
}

input[type=range]::-ms-track {
  background-color: #771E18;
  height: 3px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background-color: #771E18;
  cursor: pointer;
}

input[type=range]::-ms-fill-upper {
  background-color: #771E18;
  cursor: pointer;
}
.cursor{
	cursor: pointer;
}


/*.bg-amarillo{
	background-color: #FF9900;
}
.bg-piel{
	background-color: #F3C8C5;
}
.bg-cafe-o{
	background-color: #420F05;
}

.base-triangulo{
	border-top: solid #420F05 16px;
  border-left: solid transparent 25px;
  border-bottom: solid #420F05 14px;
}

.punta-triangulo{
	border-top: 15px solid transparent;
  border-left: 25px solid #420F05;
  border-bottom: 15px solid transparent;
}

.h-30px{
	height: 30px;
}

.fondo-1{
	background-image: url(../assets/img/img_ova/portada-libro.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.fondo-2{
	background-image: url(../assets/img/img_ova/fondo_curuba.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.fondo-3{
	background-image: url(../assets/img/img_ova/fondo_guerra2.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.fondo-4{
	background-image: url(../assets/img/img_ova/fondo_tribunal.png);
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 300px;
}
.fondo-9{
	background-image: url(../assets/img/img_ova/libro abierto.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.border-left-cafe{
	border-left: solid #420F05 2px;
}
.border-bottom-cafe{
	border-bottom: solid #420F05 2px;
}

.min-h-400px{
	min-height: 400px;
}

.t-150px{
	top: 150px;
}

.bg-amarillo-c{
	background-color: #FFD966;
}

.bg-piel-o{
	background-color: #F4B081;
}

.bg-piel-mc{
	background-color: #F7CAAC;
}

.triagulo_abajo{
  border-left: 15px solid transparent;
	border-top: 25px solid #420F05;
  border-right: 15px solid transparent;
}

.w-60px{
	width: 60px;
}

.bg-gris-o{
	background-color: #D1D1D1;
}
.h-6px{
	height: 6px;
}
.h-80px{
	height: 80px;
}
.top-n40px{
	top: -40px;
}
.w-80px{
	width: 80px;
}

.justify-content-evenly{
	justify-content: space-evenly;
}

.border-amarillo{
	border: solid #FF9900 3px;
}

.w-h-50px{
	width: 50px;
	height: 50px;
}

.bg-cafe-mo{
	background-color: #420F05;
}

.w-580px{
	width: 580px;
}

.Yugoslavia-1{
	top: -25px;
  left: 82px;
}

.Yugoslavia-2{
  top: -45px;
  left: 200px;
}

.Yugoslavia-3{
	top: -25px;
  left: 410px;	
}

.Yugoslavia-4{
	top: 150px;
  left: 420px;
}
*/

.navegation{
    border-top: solid #0A57BF;
    border-left: solid #0A57BF;
    border-right: solid #0A57BF;
    height: 100%;
    padding: 5px 0px 1px 10px;
}

.activas{
  height: 4px;
  background: #0A57BF;
}
.font20{
  font-size: 20px;
}
.encendido{
  color: #0A57BF;
}
.inactivo{
  color: #BFBFBF;
}

.avance_blanco{
  background: #ffffff;
  height: 4px;
}

.activa{
  background: #0A57BF;
}


/*
#slider-5 ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 500px;
  list-style: none;
  overflow: hidden;
}

#slider-5 ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  background: #ffffff;
  text-align: center;
}

a.control_prev, a.control_next {
  
  width: auto;
  height: auto;
  
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}*/

/*scroll*/
.custom-scrollbar_uno, .custom-scrollbar_dos {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.custom-scrollbar_tres {
  position: relative;
  height: 190px;
  overflow: hidden;
}

.custom-scrollbar__inner_uno, .custom-scrollbar__inner_dos, .custom-scrollbar__inner_tres {
  height: 100%;
  width: calc(100% + 40px);
  padding-right: 75px;
  overflow-y: auto;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.custom-scrollbar__bar_uno, .custom-scrollbar__bar_dos, .custom-scrollbar__bar_tres {
  position: absolute;
  top: 18px;
  bottom: 20px;
  background:#003442;
  width: 3px;
  right: 30px;
  border-radius: 4px;
}

.custom-scrollbar__knob_uno, .custom-scrollbar__knob_dos, .custom-scrollbar__knob_tres {
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #003442;
  transform: translate(-50%, -50%);
  will-change: top;
}

.linea-scroll_uno, .linea-scroll_dos, .linea-scroll_tres {
  font-size: 50px;
    margin: 0px;
    position: relative;
    top: -32px;
    color: #FFFFFF;
}

.bg-verde-1{
	background-color: #09B68B;
}

.triangulo-arriba{
	border-left: solid 25px transparent;
	border-bottom: solid 40px transparent;
	border-right: solid 25px transparent;
}
.triangulo-abajo{
	border-left: solid 25px transparent;
	border-top: solid 40px transparent;
	border-right: solid 25px transparent;
}
.triangulo-derecha{
	border-top: solid 25px transparent;
	border-left: solid 40px transparent;
	border-bottom: solid 25px transparent;
}
.triangulo-izquierda{
	border-top: solid 25px transparent;
	border-right: solid 40px transparent;
	border-bottom: solid 25px transparent;
}
.border-bottom-color-verde-1{
	border-bottom-color: #09B68B;
}
.border-top-color-verde-2{
	border-top-color: #0AB8BF;
}
.border-bottom-color-azul-1{
	border-bottom-color: #0A57BF;
}
.border-left-color-azul-2{
	border-left-color: #006092;
}
.border-right-color-azul-2{
	border-right-color: #006092;
}
.border-left-color-verde-2{
  border-left-color: #0AB8BF;
}
.border-right-color-verde-2{
  border-right-color: #0AB8BF;
}
.bg-azul-1{
	background-color: #0A57BF;
}
.text-azul-1{
  color: #0A57BF;
}

.bg-amarillo-1{
	background-color: #FF9900;
}

.bg-amarillo-2{
  background-color: #FFE28B;
}

.bg-verde-2{
	background-color: #0AB8BF;
}

.creciente, .creciente2, .creciente3, .creciente4, .creciente5, .creciente6{
	background: var(--bg-color);
    height: 180px;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    top: 0px;
    left: 15px;
    z-index: 100;
    width: 20%;
}

.div_textonum, .div_textonum2, .div_textonum3, .div_textonum4, .div_textonum5, .div_textonum6{
	width: 10%;
	height: 100%;
	/*padding: 60px 1px 1px 1px;*/
	text-align: center;
}
.div_textonum p{
	color: white;
	font-size: 30px;
}
.div_texto, .div_texto2, .div_texto3, .div_texto4, .div_texto5, .div_texto6{
	width: 70%;
	padding: 25px 1px 25px 0px;
	visibility: hidden;
}


@keyframes ascend {
  from {
    background: var(--bg-color);
    height: 180px;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    top: 0px;
    left: 21px;
    z-index: 100;
    width: 20%;

    
  }

  to {
  	background: var(--bg-color);
    height: 180px;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    top: 0px;
    left: 21px;
    z-index: 100;
    width: 90%;

    
  }
}

@keyframes vis {
  from {
    visibility: hidden;
  }

  to {
  	visibility: visible;
  }
}

.target_3-4{
	background:#FFFFFF;
	height: 180px;
	border-radius: 0px 20px 20px 0px;
	box-shadow: 2px 1px 14px -2px;
}

.crece{
	animation-duration: 1s;
    animation-name:ascend;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}

.visibilidad{
	animation-duration: 1s;
    animation-name:vis;
	animation-iteration-count: 1;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.border-right-verde-2{
	border-right: solid #0AB8BF 3px;
}


#slider2 {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider2 ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 500px;
  list-style: none;
}

#slider2 ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  background: #eaeaea;
  text-align: center;
}

a.control_prev2, a.control_next2 {
  
  width: auto;
  height: auto;
  
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider2_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

.inactivo_slide{
  background: #ffffff;
  height: 4px;
}

.activo{
  background: #003442;
  height: 4px;
}

.bg-gris-1{
  background: #767171;
}

.border-t-l{
  border-top-left-radius: 3em;
}

.border-t-r{
  border-top-right-radius: 3em;
}

.border-b-l{
  border-bottom-left-radius: 3em;
}

.border-b-r{
  border-bottom-right-radius: 3em;
}
.border-abajo-radius{
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.text-amarillo-3{
  color: #FFC000;
}


.bg-gris-o{
  background-color: #D1D1D1;
}
.h-6px{
  height: 6px;
}
.h-80px{
  height: 80px;
}
.top-n40px{
  top: -40px;
}
.w-80px{
  width: 80px;
}

.justify-content-evenly{
  justify-content: space-evenly;
}