/*.fondo_gris_morado{
	background: #d1d1d1;
}
.fondo_azul_claro{
	background: #929cb7;
}
.img_nav{
	width: 50px;
}

.cont_nav{
	padding: 5px;
}

.text_morado{
	color: #45073d;
}

.justificado{
	text-align: justify;
}

.banner{
	background-image: url(../assets/img/img_ova/banner_azul.png);
  padding: 12px;
  background-size: 180px;
  background-repeat: no-repeat;
  height: 180px;
  width: 180px;
  background-position-x: center;
  display: flex;

}

.content-banner{
  width:50%;
  display: block;
  margin: auto;
}

.text-banner{
  width: min-content;
  text-align: center;
  margin: auto;
}

.carta_azul{
	width: 18rem;
	border-right: solid 1px #0075a2;
	border-radius: 10%;
}

.cards_blue{
	border: solid 1px #0075b0;
	max-width: 18em;
}
.card_body_blue{
	background: #0075b0;
}

.size_13{
	font-size: 14px;
}
.fondo_canvas{
	background-image: url('../assets/img/img_ova/clasificacion_conjuntos_fondo.png');
	width: 1122px;
    height: 479px;
    background-size: cover;
}
.radius_modal{
	border-radius: 30px;
}

.transparente{
	background: #fff0;
}

.btn_claro{
	background-image: url('../assets/img/img_ova/btn_claro.png');
	max-width: 100%;
    margin-bottom: 4px;
    width: 100%;
    height: 35px;
    cursor: pointer;
}
.btn_oscuro{
	background-image: url('../assets/img/img_ova/btn_oscuro.png');
	max-width: 100%;
    margin-bottom: 4px;
    width: 100%;
    height: 35px;
    cursor: pointer;
}
.div_claro{
	background: #c4e2ff;
}

.content_aqua{
	border: none;
  	border-radius: 40px 10px;
  	background: #89d8ff;
  	height: 190px;
}
.circulo_blue{
	background-image: url('../assets/img/img_ova/circulo_fondo.png');
	width: 50%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.triangulo{
	background-image: url(../assets/img/img_ova/triangulo1.png);
    height: 26%;
    width: 39%;
    background-size: 100%;
    margin-top: 48px;
    position: absolute;
    cursor: pointer;
}
.t_1{

}
.t_2{
	background-image: url(../assets/img/img_ova/triangulo2.png);
	margin-left: 27px;
    margin-top: 78px;
}
.t_3{
	background-image: url(../assets/img/img_ova/triangulo3.png);
	margin-left: 51px;
}
.celda_clara{
	background: #c6d2d4;
}
.celda_azul{
	background: #98bec4;
}
.celda_clarascura{
	background: #8ca6aa;
}
.celda_oscura{
	background: #47747c;
}
#hexagono3 {
  height: 20em;
  margin: -6.5em 0;
  overflow: hidden;
  transform: rotate(120deg);
  visibility: hidden;
  width: 10em;
  
}
#hexagono3-1 {
  height: 100%;
  overflow: hidden;
  transform: rotate(-60deg);
  width: 100%;
  
}
#hexagono3-2 {
  height: 100%;
  transform: rotate(-60deg); 
  visibility: visible ;

  width: 100%;
  
}
.color-example{
	background: #c6d2d4;
	
}

.text_panal{
	font-size: 12px;
	margin-top: 25px;
	margin-left: 9px;
	color: #ffffff;
	width: 75%;
}

.panal{
	background-size: cover;
  width: 195px;
  height: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
}
p, button{
	font-size: 15px;
}

.rueda1{
	  width: 150px;
	  height: 150px;
    margin: 0px;
    position: absolute;
    left: 12%;
    top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.rueda2{
	  width: 150px;
	  height: 150px;
    margin: 0px;
    position: absolute;
    left: 23%;
    top: 51%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.rueda3{
	  width: 150px;
	  height: 150px;
    margin: 0px;
    position: absolute;
    left: 72%;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.rueda4{
	  width: 150px;
	  height: 150px;
    margin: 0px;
    position: absolute;
    left: 65%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.cursor{
	cursor: pointer;
}

.blanco{
  background: #ffffff;
}
.header_card{
  background: #0075b0;
  max-height: 25px;
    font-size: 10px;
    border-radius: 3px;
}
.close{
  cursor: pointer;
}

.size_16{
  font-size: 16px;
}

.borde_azul{
  border: solid 1px #321fdb;
}
.borde_azul_left{
  border-left: solid 1px #321fdb;
}

.card1-2{
  padding: 0px;
  border-radius: 45px;
  border: solid rgba(0, 117, 168, 1);
  min-height: 380px;
}

.card_top2{
  margin: 0px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  min-height: 190px;
  border-bottom-right-radius: 42px;
  border-bottom-left-radius: 42px;
}

.card1_bottom2{
  margin: 0px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  min-height: 190px;
  border-bottom-right-radius: 42px;
  border-bottom-left-radius: 42px;
  background-color: rgba(0, 117, 168, 1);
}

.azul_card{
  background: #0075b0;
}

.text-img-activi{
  border-bottom: solid 3px rgba(0, 91, 139);
  width: 50%;
  height: 86px;
  margin: 0px;
  padding-top: 45px;
}

.content-img-actividad{
  z-index: 100;
  padding-top: 32px;
  width: 100%;
}

.img-activi{
    max-width: 100%;
    z-index: 100;
}*/

.fondo-3 {
    background-image: url(../assets/img/img_ova/fondo_bioetica.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 444px;
}

.fondo-4 {
    background-image: url(../assets/img/img_ova/fondo_paneles.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.fondo-5 {
    background-image: url(../assets/img/img_ova/fondo_bioetica_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    height: 456px;
    width: 900px;
}

.fondo-social {
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    height: 456px;
    width: 900px;
}

.fondo-social-0 {
    background-image: url(../assets/img/img_ova/social0.jpg);
}

.fondo-social-1 {
    background-image: url(../assets/img/img_ova/social1.jpg);
}

.fondo-social-2 {
    background-image: url(../assets/img/img_ova/social2.jpg);
}

.fondo-social-3 {
    background-image: url(../assets/img/img_ova/social3.jpg);
}

.fondo-social-4 {
    background-image: url(../assets/img/img_ova/social4.jpg);
}

.fondo-social-5 {
    background-image: url(../assets/img/img_ova/social5.jpg);
}

.fondo-social-6 {
    background-image: url(../assets/img/img_ova/social6.jpg);
}

.bg-v-o {
    background: #397546;
}

.w-2px {
    width: 2px;
}

.bg-blanco-claro {
    background: rgba(255, 255, 255, 0.5);
}

.centro-izquierda {
    width: 200px;
    position: relative;
    left: -100px;
}

.img-radius-verde {
    background: white;
    padding: 6%;
    border-radius: 50%;
    border: solid #4B7E54 2px;
    width: fit-content;
}

.w-100px {
    width: 100px;
}

.border-bottom-actividad {
    border-bottom: solid 3px #C8AD45;
}

.img-activi {
    width: 116px;
    height: 116px;
}

.text-img-actividad {
    font-size: 20px;
    color: #A48E39;
}

.content-text-img-activi {
    border-bottom: solid 3px #A48E39;
    width: 50%;
    height: 86px;
    margin: 0px;
    padding-top: 45px;
    text-align: center;
}

.content-text-img-activi-2 {
    border-bottom: solid 3px #A48E39;
    width: 50%;
    height: 60px;
    margin: 0px;
    padding-top: 20px;
    text-align: center;
}

.content-tarjeta {
    background: #C8AD45;
    border-radius: 20px;
    padding: 15px;
}

.max-w-30px {
    max-width: 30px;
}

.content-text-activi {
    background: #DDEAF6;
    border-radius: 20px;
    padding: 30px;
}

.content-text-activi-2 {
    background: white;
    border: solid 2px #79CAF3;
    border-radius: 20px;
    padding: 30px;
}

.content-text-activi-3 {
    background: #FFD966;
    border-radius: 20px;
    padding: 30px;
}

.btn-descarga-pdf {
    background: #A48E39;
    color: white;
    border-radius: 10px;
}

.w-300px {
    width: 300px;
}

.content-card-azul {
    border-radius: 1em;
    border: solid 2px #2599BD;
    padding: 4px;
}

.bg-blanco {
    height: 200px;
    background: #FFFFFF;
}

.bg-card-verde {
    background: #028B79;
}

.bg-card-v {
    background: #6B993D;
}

.titulo-elevado {
    position: relative;
    top: -25px;
}

.titulo-elevado-2 {
    position: relative;
    top: -85px;
}

.titulo-abajo {
    position: relative;
    bottom: -102px;
}

.btn-disponible {
    border-radius: 10px;
    border: solid #000000 2px;
    padding: 5px;
    background: rgba(0, 0, 0, 0);
}

.h-100px {
    height: 100px;
}

.pt-135px {
    padding-top: 135px;
}

.pt-9p {
    padding-top: 9%;
}

.custom-scrollbar3 {
    position: relative;
    width: 800px;
    height: 444px;
}

.custom-scrollbar__inner3 {
    height: 100%;
    width: calc(100% + 40px);
    padding-right: 30px;
    overflow-y: auto;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}


/*.custom-scrollbar__inner div {
  margin-bottom: 16px;
}
.custom-scrollbar__inner img {
  max-width: 100%;
}*/

.custom-scrollbar__bar3 {
    position: absolute;
    top: 60px;
    bottom: 16px;
    background: #125456;
    width: 3px;
    right: 30px;
    border-radius: 4px;
}

.custom-scrollbar__knob3 {
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #125456;
    transform: translate(-50%, -50%);
    will-change: top;
}

.linea_scroll3 {
    font-size: 50px;
    margin: 0px;
    position: relative;
    top: -32px;
}

.w-50px {
    width: 50px;
}

.card-blanco-o {
    border-radius: 1.5em;
    padding: 1.5em;
    background: #FFFFFF;
}

.text-verde-c {
    color: #028B79;
}

.opcion-circular-ambiente {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #028B79;
    cursor: pointer;
}

.content-opcion-circular-ambiente {
    display: flex;
    justify-content: space-evenly;
}

.opcion-circular-select {
    background-color: #0B0914;
}

.content-opcion-info-ambiente {
    position: relative;
    border: solid #4EADAE 3px;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    padding: 1em;
}

.content-opcion-info-ambiente1 {
    top: 210px;
    left: -260px;
}

.content-opcion-info-ambiente2 {
    top: 10px;
    left: -260px;
}

.content-opcion-info-ambiente3 {
    top: 10px;
    left: 0px;
}

.content-opcion-info-ambiente4 {
    top: 90px;
    left: 0px;
}

.opcion-circular-social {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #028B79;
    cursor: pointer;
}

.content-opcion-circular-social {
    display: flex;
    justify-content: space-evenly;
}

.opcion-circular-select {
    background-color: #0B0914;
}

.content-opcion-info-social {
    position: relative;
    border: solid #4EADAE 3px;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    padding: 1em;
}


/*.content-opcion-info-social1{
  top: 210px;
  left: -260px;
}

.content-opcion-info-social2{
  top: 10px;
  left: -260px;
}
.content-opcion-info-social3{
  top: 10px;
  left: 0px;
}
.content-opcion-info-social4{
  top: 90px;
  left: 0px;
}
*/

.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}