.var{
	--bg-color-claro: #a9d18e;
    --bg-color: #008F3E;
    --bg-color-dark: #00441B;
}

.droptarget {
    float: left;
    margin: 15px;
    padding: 10px;
    background: #40A7E3;
    border-radius: 20px;
    height: 200px;
    width: 100%;
}

#opcion{
	background: #65AFF0;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.interno{
	background: #40A7E3;
    height: 170px;
    border-radius: 50px;
    padding: 25px 25px 25px 25px;
    font-weight: bold;
    color: white;
}
.interno p{
    background: #FFF2CC !important;
    color: #40a7e3 !important;
    height: 100px !important;
    width: 100% !important;
    padding: 10px !important;
    border-radius: 10px !important;
    font-size: 10px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    text-align: justify !important;
}
#dragtarget1{
    cursor: pointer;
    background: #FFF2CC;
    color: #40a7e3;
    height: 166px;
    width: 100%;
    padding: 60px 15px 6px 15px;
    border-radius: 30px;
}
#dragtarget2{
    cursor: pointer;
    cursor: pointer;
    background: #FFF2CC;
    color: #40a7e3;
    height: 166px;
        width: 100%;
    padding: 40px 1px 6px 15px;
    border-radius: 30px;
}
#dragtarget3{
    cursor: pointer;
    cursor: pointer;
    background: #FFF2CC;
    color: #40a7e3;
    height: 166px;
        width: 100%;
    padding: 40px 1px 6px 15px;
    border-radius: 30px;
}
#dragtarget4{
    cursor: pointer;
    background: #FFF2CC;
    color: #40a7e3;
    height: 166px;
    width: 100%;
    padding: 55px 15px 6px 15px;
    border-radius: 30px;
}
#dragtarget5{
    cursor: pointer;
    cursor: pointer;
    background: #FFF2CC;
    color: #40a7e3;
    height: 166px;
        width: 100%;
    padding: 40px 1px 6px 15px;
    border-radius: 30px;
}
#dragtarget6{
    cursor: pointer;
}
#dragtarget7{
    cursor: pointer;
}
#dragtarget8{
    cursor: pointer;
}
#dragtarget9{
    cursor: pointer;
}
.img_cont{
	max-width: 70%;
}

.optciones{
	display: inline-block;
    width: 60%;
}

.tranparente{
	background: transparent;
	border: none;
}

.principal{
	height: 325px;
	border-radius: 40px;
	background: #006092;
}

.cabeza{
	background: #003442;
	height: 100px;
	border-radius: 40px 40px 0px 0px;
}
.circulo_modal{
    border: solid white;
	height: 125px;
	width: 125px;
	background: gray;
	border-radius: 50%;
	position: relative;
	top: -60px;
	text-align: center;
}

.boton_inc{
	background: #003442;
	color: white;
	border-radius: 10px;
	font-size: 22px;
}

.shadow{
    box-shadow: 0 0.5rem 1rem rgb(0 0 21 / 50%) !important;
}

/* custom scrollbar */
.modal-dialog-scrollable .modal-content{
    overflow: inherit;
    padding-bottom: 18px;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}