.portada{
	background-image: url(../img/libro.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.paginas-der{
	background-image: url('../img/hoja_der.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 20px;
	
}
.paginas-izq{
	background-image: url('../img/hoja.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 20px;
	
}
.detras2{
	background-image: url('../img/detras2.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 20px;
}
.pasta-tras{
	background-image: url(../img/libro_tras.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#flipbook .shadow{
	border-radius: 20px;
}
.contendio-text{
	padding: 90px 15px 50px 30px;
}

.p90{
	padding-top: 90px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.img-100{
	width: 100%;
}
.img-70{
	width: 70%;
}

.color-text{
	color: #540F23;
}