.baneClaro{
  background: #DAE3F3;
  padding: 15px;
  border-radius: 30px;
}
.baneTarget{
    background: #fff;
    padding: 25px 10px 70px 10px;
    width: 80%;
    box-shadow: 1px 1px 5px 2px;
}
.carpeta{
    position: relative;
    top: -100px;
}

.is-hidden {
  height:50px;
  transition: height 1s ease-in-out;
}

.not-hidden {
  height:150px;
  transition: height 1s ease-in-out;
}
.msg {
  display:none;
}