.target1{
	background: #465FB3;width: 70%;margin-left: 5px;
	border-radius: 10px;
	height: 50px;
	margin-top: 5px;
	box-shadow: 2px 2px 7px -2px black;
}
.target2{
	background: #465FB3;
	width: 70%;
	border-radius: 10px;
	height: 50px;
	margin-top: 50px;
	margin-left: 36px;
	box-shadow: 2px 2px 7px -2px black;
}
.imagenTarget{
	width: 70px;
	position: relative;
	left: -31px;top: -11px;
}
.textoTargets{
	width: 50%;
	padding-top: 12px;
}
.indicador1{
	height: 30px;width: 30px;
	border-radius: 50%;
	background: #96AFFF;color: white;
	font-weight: bold;
	text-align: center;
	padding-top: 4px;
	position: relative;
	top: -13px;left: 25px;
}
.contFijo-img{
	width: 221px;
	height: 155px;
}
.computador{
	position: relative;
	top: -50px;z-index: 1;
}
.linea1{
	background: #A5A5A5;
	height: 4px;
	position: relative;
	top: -129px;
	left: -70%;
	width: 250%;
}
.linea2{
	background: #A5A5A5;
	height: 4px;
	position: relative;
	top: -74px;
	left: -84px;
	transform: rotate(-29deg);
}
.linea3{
	background: #A5A5A5;
	height: 4px;
	position: relative;
	top: -74px;
	left: 84px;
	transform: rotate(25deg);
}
.target3{
	background: #465FB3;
	width: 70%;
	border-radius: 10px;
	height: 50px;
	margin-top: 50px;
	margin-left: 30px;
	box-shadow: 2px 2px 7px -2px black;
}
.target4{
	background: #465FB3;
	width: 70%;
	border-radius: 10px;
	height: 50px;
	margin-top: 0px;
	margin-left: 50px;
	box-shadow: 2px 2px 7px -2px black;
}
.indicador2{
	height: 30px;width: 30px;
	border-radius: 50%;
	background: #96AFFF;
	color: white;
	font-weight: bold;
	text-align: center;
	padding-top: 4px;
	position: relative;
	top: -13px;left: -20px;
}
.imagenTarget2{
	width: 70px;
	position: relative;
	left: 31px;
	top: -11px;
}
.size_13{
	font-size: 13px;
}
.text-user{
	padding: 25px 40px 25px 40px;
}
.indi_subraye{
	background: #465FB3;
    padding: 10px;
    width: 80%;
    color: white;
    font-size: 13px;
    border-radius: 10px;
}
.btnP2{
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: #393A72;
	margin-left: 10px;
}
.banewhite{
	background: #fff;
    padding: 10px;
    box-shadow: 1px 1px 5px 0px;
}
.texto-derecha{
 text-align: end;
}
.baneP5{
	background: #96AFFF;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 4px 0px;
	height: 250px;
}
.circulo-white{
	width: 100px;
	height: 100px;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	padding-top: 10px;
}
.baneactivi{
	background: #DAE3F3;
	padding: 10px;
	width: 90%;
	margin-left: 20px;
	border-radius: 20px;
	height: 120px;
}
.img-baneactivi{
	width: 115px;
	position: relative;
	left: -54px;
	top: -20px;
}
.btnClaro{
	background: #7D9AFE;
	color: white;
	font-weight: bold;
}