<!DOCTYPE html>
<html lang="es" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Crucigrama</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
  <link rel="stylesheet" href="../css/actividad4/style.css">
  <link rel="stylesheet" href="../css/actividad4/backdrop.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app" class="" @keyup.escape="selected = undefined">
  <div class="table-container" style="display:none;" v-show="true">
    <div class="row principal" style="padding: 20px;">
        <div class="col-md-4 col-sm-4 d-flex">
           <img src="../img/img4/actividad_interactiva.png" class="img-activi">
           <div>
               <div class="content-text-img-activi-2" style="width: 100%;">
                 <b class="text-img-actividad">ACTIVIDAD INTERACTIVA</b>
               </div>
               <p class="text-center">CRUCIGRAMA</p>
           </div>
        </div>
        <div class="col-md-8 col-sm-8 terciario" style="">
            <p class="info_actividad shadow">
                Complete el crucigrama con palabras respectivas de acuerdo con las pistas que se brindaran al oprimir cada numero. Al finalizar presione la opción "<b>Calificar</b>" para obtener el puntaje de esta actividad.
            </p>
        </div>
        <div class="col-md-12 col-sm-12">
            <p class="text-center p-4 p_black"><i>oprimir cada numero para ver una pista</i></p>
        </div>
    </div>
    <!-- <div class="mensaje" v-if="mensaje !== undefined">
      <div class="content">{{mensaje}}</div>
      <button @click="mensaje = undefined" class="btn btn-primary">OK</button>
    </div>  -->
    <table>
      <tr v-for="(row, y) in matrix" :key="y">
        <td v-for="(cell, x) in row" :class="{empty: cell.empty, start: !!cell.start, selected: cell.words.includes(selected)}" @click="selectWord(cell.start)">
          <label v-if="!!cell.start">{{cell.start}}</label>
          {{cell.words.some(i => completed[i]) ? cell.letter : ' '}}
        </td>
      </tr>
    </table>
    <div v-if="selected !== undefined" style="text-align: center;">
      <p class="pista" v-if="pista">
        {{pista}}
      </p>
      <input v-model="answer" ref="input" @keyup.enter="corregir"/>
      <button @click="corregir" class="btn btn-primary">Colocar</button>
    </div>
    <hr>
    <button class="btn btn-mostaza" @click="finalizar"><b>Calificar</b></button>
  </div>  
  <h3 v-show="false">Cargando....</h3>
</div>

<div class="modal calificacion" id="calificacionModal" tabindex="-1" role="dialog" aria-labelledby="calificacionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body center-block">
                <div class="mensaje text-center">
                    Tu puntaje es: <span class="puntaje">40%</span>
                    <span class="texto-puntaje"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secundary calificacion-intentar" data-dismiss="modal">Volver a
                    intentar</button>
                <button type="button" class="btn btn-secundary calificacion-cerrar" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- partial -->
  <script src='https://unpkg.com/vue'></script>
  <script  src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script  src="../js/actividades.js"></script>
  <script  src="../js/actividad4/script.js"></script>

</body>
</html>
