<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad</title>
    <meta name="description" content="Fullscreen Pageflip Layout with BookBlock">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/actividad10/backdrop.css">
    <link rel="stylesheet" type="text/css" href="../css/actividad10/estilos.css">
</head>

<body>
    <div class="backdrop in">
        <div class="row px-3">
          <div class="col-md-12 p-2">
            <div class="row border-bottom-actividad" style="margin-left: 1.5em; margin-right: 1.5em; margin-top: 1.5em;">
              <div class="col-md-5 row d-flex">
                 <img src="../img/img1/actividad_general.png" class="img-activi">
                 <div>
                     <div class="content-text-img-activi">
                       <b class="text-img-actividad">ACTIVIDAD INTERACTIVA</b>
                     </div>
                     <p class="text-center">CUESTIONARIO</p>
                 </div>
              </div>
              <div class="col-md-7 shadow content-tarjeta" style="background-color: #272e9f;">
                  <p class="pb-2" style="font-size: 13px; color: #FFFFFF;">

                  Seleccione la respuesta correcta y presione la opción "Calificar" para obtener el puntaje de esta actividad.
                  </p>
              </div>

              <div class="col-md-12">
                  <div class="contenido" ng-app="leccion3App" ng-controller="actividad1Ctrl">
                      <div class="preguntas">

                          <div class="pregunta-cuestionario" ng-repeat="pregunta in preguntas" id="cuestionario-{{$index+1}}">
                              <p class="texto-pregunta d-flex"><spam style="width: -webkit-fill-available;">{{pregunta.texto}} </spam>
                                  <spam class="img_questionario{{$index+1}}"></spam>
                              </p>
                              <div class="respuestas-cuestionario">
                                  <div class="radio" ng-repeat="respuesta in pregunta.respuestas" ng-class="{'correcta':validado&&pregunta.respuesta == respuesta && respuesta.correcta}">
                                      <input name="radio{{$parent.$index}}" type="radio" ng-model="respuesta.input" ng-value="false" ng-click="seleccionar($parent.$index, respuesta)">
                                      {{respuesta.texto}}
                                  </div>
                              </div>
                          </div>
                          <div class="content_triangulo_der">
                              <div class="triangulo_der" id="siguente"  data-slide="2">
                                  
                              </div>
                          </div>



                      </div>
                      <div class="btnCalificar">
                          <button style="background-color: #ae1c16;" class="btn btn-primary" type="button" ng-click="calificar()">Calificar</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    <!-- Modal -->
    <div class="modal calificacion" id="calificacionModal" tabindex="-1" role="dialog" aria-labelledby="calificacionModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body center-block">
                    <div class="mensaje text-center">
                        Tu puntaje es: <span class="puntaje">40%</span>
                        <span class="texto-puntaje"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secundary calificacion-intentar" data-dismiss="modal">Volver a
                        intentar</button>
                    <button type="button" class="btn btn-secundary calificacion-cerrar" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Incluisión de scripts -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/actividad10/angular.min.js"></script>
    <script src="../js/actividades.js"></script>
    <script src="../js/actividad10/script.js"></script>
    <script src="../js/actividad10/actividad2.js"></script>
    <!-- Fin de scripts -->
</body>

</html>