.cursor{
	cursor: pointer;
}

.border-left-azul{
	border-left: solid #006092 2px;
}

.border-right-azul{
	border-right: solid #006092 2px;
}

.border-top-azul{
	border-top: solid #006092 2px;
}

.border-bottom-azul{
	border-bottom: solid #006092 2px;
}

.border-left-blanco{
	border-left: solid #FFFFFF 2px;
}

.border-right-blanco{
	border-right: solid #FFFFFF 2px;
}

.border-top-blanco{
	border-top: solid #FFFFFF 2px;
}

.border-bottom-blanco{
	border-bottom: solid #FFFFFF 2px;
}

.bg-amarillo-o{
	background-color: #E39D40;
}

.bg-azul-c{
	background-color: #8DA9DB;
}

.triangulo-derecha{
	border-top: solid 15px transparent;
	border-left: solid 25px #003442;
	border-bottom: solid 15px transparent;
}

.w-0px{
	width: 0px;
}

.h-0px{
	height: 0px;
}

.fondo-1{
	background-image: url(../assets/img/img_ova/avion-1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.bg-cafe-c{
	background-color: #965B0C;
}

.w-h-50px{
	width: 50px;
	height: 50px;
}

.w-h-90px{
	width: 90px;
	height: 90px;
}

.bg-azul{
	background-color: #4472C4;
}

.bg-azul-o{
	background-color: #1F3864;
}

.bg-azul-mo{
	background-color: #003442;
}

.text-azul-c{
	color: #8DA9DB;
}

.bg-azul-n{
	background-color: #1E4E79;
}

.bg-gris{
	background-color: #D0CECE;
}

.triagulo_abajo{
	border-right: solid 15px transparent;
	border-top: solid 25px #FFFFFF;
	border-left: solid 15px transparent;
}

.h-6px{
	height: 6px;
}
.h-80px{
	height: 80px;
}
.justify-content-evenly{
	justify-content: space-evenly;
}
.top-n40px{
	top: -40px;
}
.w-80px{
	width: 80px;
}

.triangulo-abajo{
  border-left: solid 15px transparent;
  border-top: solid 40px #FFFFFF;
  border-right: solid 15px transparent;
}

.subir-triangulo{
  position: relative;
  top: -4px;
  width: 0px;
}