.fondo_gris_morado {
    background: #d1d1d1;
}

.fondo_azul_claro {
    background: #929cb7;
}

.img_nav {
    width: 50px;
}

.cont_nav {
    padding: 5px;
}

.text_morado {
    color: #45073d;
}

.justificado {
    text-align: justify;
}

.banner {
    background-image: url(../assets/img/img_ova/banner_azul.png);
    padding: 12px;
    background-size: 180px;
    background-repeat: no-repeat;
    height: 180px;
    width: 180px;
    background-position-x: center;
    display: flex;
}

.fondoCanva {
    background-image: url(../assets/img/img_ova/modelocanva.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fondoCanal1 {
    background-image: url(../assets/img/img_ova/canal1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.hoverUniversalT:hover {
    background: #811111cb!important;
}

.bg-color-yellow {
    background: #ffff00;
}

.bg-color-yellow-claro {
    background: #ffe699;
}

.border-yellow {
    border: 1px solid #ffff00;
}

.hoverAmarillo:hover {
    background: #ffffff;
}

.SelectorHAmarillo {
    background: #ffffff;
}

.rota-horizontal {
    transform: scaleX(-1);
}

.hoverSecondary1:hover {
    padding-left: 3rem !important;
    transition: ease-out 0.5s all;
}

.hoverSecondary2:hover {
    padding-left: 3rem !important;
    transition: ease-out 0.5s all;
}

.textSecondary {
    color: #bdd7ee;
}

.bg-color-rosa {
    background: #f26b61;
}

.trianguloPantallaActivi {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-top: 30px solid var(--bg-color-dark);
    border-right: 50px solid transparent;
}


/*  -------------------------- PANTALLA 2 --------------------------  */

.puntero {
    text-align: center;
    font-weight: bold;
    padding-top: 7px;
    width: 100%;
    height: 40px;
}

.punteroInactive {
    color: white;
    background-image: url('../assets/img/img_ova/punteroInactive.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.punteroActive {
    color: #70302C;
    background-image: url('../assets/img/img_ova/punteroActive.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.globorosa {
    border-radius: 30px;
    background: #FFC09B;
    padding: 15px;
}

.img-globo {
    position: relative;
    top: -50px;
    width: 100px;
}

.btn_vino {
    background: #70302c;
    color: white;
    font-weight: bold;
}

.ban-blue {
    background: #B4C7E7;
    padding: 10px 10px 10px 20px;
    border-radius: 1px 15px 15px 1px;
    box-shadow: 2px 2px 5px 0px;
}

.flip-cardnew {
    background-color: transparent;
    width: 100%;
    min-height: 300px;
    border-radius: 50px;
    perspective: 1000px;
}

.flip-cardnew-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-cardnew:hover .flip-cardnew-inner {
    transform: rotateY(180deg);
}

.flip-cardnew-front,
.flip-cardnew-back {
    position: absolute;
    width: 100%;
    min-height: 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-cardnew-front {
    background-color: #272E9F;
    color: black;
    border-radius: 50px;
}

.flip-cardnew-back {
    background: #272E9F;
    border-radius: 50px;
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
}

.img_card_flip {
    margin-top: 45px;
    max-width: 30%;
}

.img_card_flip4 {
    margin-top: 10px;
    max-width: 90%;
}

.font_15 {
    font-size: 15px;
}

.info {
    border-top: solid 6px #a08a37;
    margin-top: 20px;
}

.cabezera {
    width: 150px;
    height: 150px;
    background: #1E2054;
    border-radius: 50%;
    margin-top: 10%;
}

.cuerpo {
    border-radius: 50%;
    background: white;
    height: 115px;
    width: 115px;
    margin-top: 15px;
}


/* custom scrollbar */

.modal-dialog-scrollable .modal-content {
    overflow: inherit;
    padding-bottom: 18px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}


/*  ------------------------ FIN PANTALLA 2,3,9 ------------------------  */


/*  ------------------------ PANTALLA 5,6,7 ------------------------  */

.bg-azul-1 {
    background: #BDD7EE;
}

.bg-cafe-1 {
    background: #811111;
}

.bg-piel-1 {
    background: #FFC09B;
}

.color-amarillo-1 {
    color: #FFFF00;
}

.custom-scrollbar-a,
.custom-scrollbar-b {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.custom-scrollbar-c,
.custom-scrollbar-d {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.custom-scrollbar__inner-a,
.custom-scrollbar__inner-b,
.custom-scrollbar__inner-c,
.custom-scrollbar__inner-d {
    height: 100%;
    /*width: calc(100% + 40px);*/
    /*padding-right: 75px;*/
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}


/*.custom-scrollbar__inner-a, .custom-scrollbar__inner-b div {
  margin-bottom: 16px;
}
.custom-scrollbar__inner-a, .custom-scrollbar__inner-b, .custom-scrollbar__inner-c, .custom-scrollbar__inner-d img {
  max-width: 100%;
}*/

.custom-scrollbar__bar-a,
.custom-scrollbar__bar-b,
.custom-scrollbar__bar-c,
.custom-scrollbar__bar-d {
    position: absolute;
    top: 16px;
    bottom: 16px;
    background: #70302C;
    width: 3px;
    right: 30px;
    /*right: 8px;*/
    border-radius: 4px;
}

.custom-scrollbar__knob-a,
.custom-scrollbar__knob-b,
.custom-scrollbar__knob-c,
.custom-scrollbar__knob-d {
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #70302C;
    transform: translate(-50%, -50%);
    will-change: top;
}

.linea_scroll-a,
.linea_scroll-b,
.linea_scroll-c,
.linea_scroll-d {
    font-size: 50px;
    margin: 0px;
    position: relative;
    top: -32px;
}


/*  ------------------------ FIN PANTALLA 5,6,7 ------------------------  */

.content-banner {
    width: 50%;
    display: block;
    margin: auto;
}

.text-banner {
    width: min-content;
    text-align: center;
    margin: auto;
}

.carta_azul {
    width: 18rem;
    border-right: solid 1px #0075a2;
    border-radius: 10%;
}

.cards_blue {
    border: solid 1px #0075b0;
    max-width: 18em;
}

.card_body_blue {
    background: #0075b0;
}


/*.size_13{
	font-size: 14px;
}*/

.fondo_canvas {
    background-image: url('../assets/img/img_ova/clasificacion_conjuntos_fondo.png');
    width: 1122px;
    height: 479px;
    background-size: cover;
}

.radius_modal {
    border-radius: 30px;
}

.transparente {
    background: #fff0;
}

.btn_claro {
    background-image: url('../assets/img/img_ova/btn_claro.png');
    max-width: 100%;
    margin-bottom: 4px;
    width: 100%;
    height: 35px;
    cursor: pointer;
}

.btn_oscuro {
    background-image: url('../assets/img/img_ova/btn_oscuro.png');
    max-width: 100%;
    margin-bottom: 4px;
    width: 100%;
    height: 35px;
    cursor: pointer;
}

.div_claro {
    background: #c4e2ff;
}

.content_aqua {
    border: none;
    border-radius: 40px 10px;
    background: #89d8ff;
    height: 190px;
}

.circulo_blue {
    background-image: url('../assets/img/img_ova/circulo_fondo.png');
    width: 50%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.triangulo {
    background-image: url(../assets/img/img_ova/triangulo1.png);
    height: 26%;
    width: 39%;
    background-size: 100%;
    margin-top: 48px;
    position: absolute;
    cursor: pointer;
}

.t_1 {}

.t_2 {
    background-image: url(../assets/img/img_ova/triangulo2.png);
    margin-left: 27px;
    margin-top: 78px;
}

.t_3 {
    background-image: url(../assets/img/img_ova/triangulo3.png);
    margin-left: 51px;
}

.celda_clara {
    background: #c6d2d4;
}

.celda_azul {
    background: #98bec4;
}

.celda_clarascura {
    background: #8ca6aa;
}

.celda_oscura {
    background: #47747c;
}

#hexagono3 {
    height: 20em;
    margin: -6.5em 0;
    overflow: hidden;
    transform: rotate(120deg);
    visibility: hidden;
    width: 10em;
}

#hexagono3-1 {
    height: 100%;
    overflow: hidden;
    transform: rotate(-60deg);
    width: 100%;
}

#hexagono3-2 {
    height: 100%;
    transform: rotate(-60deg);
    visibility: visible;
    width: 100%;
}

.color-example {
    background: #c6d2d4;
}

.text_panal {
    /*font-size: 12px;*/
    /*margin-top: 25px;
	margin-left: 9px;*/
    color: #ffffff;
    width: 75%;
}

.panal {
    background-size: cover;
    width: 195px;
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}

p,
button {
    font-size: 15px;
}

.rueda1 {
    width: 150px;
    height: 150px;
    margin: 0px;
    position: absolute;
    left: 12%;
    top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.rueda2 {
    width: 150px;
    height: 150px;
    margin: 0px;
    position: absolute;
    left: 23%;
    top: 51%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.rueda3 {
    width: 150px;
    height: 150px;
    margin: 0px;
    position: absolute;
    left: 72%;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.rueda4 {
    width: 150px;
    height: 150px;
    margin: 0px;
    position: absolute;
    left: 65%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.cursor {
    cursor: pointer;
}

.blanco {
    background: #ffffff;
}

.header_card {
    background: #0075b0;
    max-height: 25px;
    font-size: 10px;
    border-radius: 3px;
}

.close {
    cursor: pointer;
}

.size_16 {
    font-size: 16px;
}

.borde_azul {
    border: solid 1px #321fdb;
}

.borde_azul_left {
    border-left: solid 1px #321fdb;
}

.card1-2 {
    padding: 0px;
    border-radius: 45px;
    border: solid rgba(0, 117, 168, 1);
    min-height: 380px;
}

.card_top2 {
    margin: 0px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    min-height: 190px;
    border-bottom-right-radius: 42px;
    border-bottom-left-radius: 42px;
}

.card1_bottom2 {
    margin: 0px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    min-height: 190px;
    border-bottom-right-radius: 42px;
    border-bottom-left-radius: 42px;
    background-color: rgba(0, 117, 168, 1);
}

.azul_card {
    background: #0075b0;
}

.text-img-activi {
    border-bottom: solid 3px rgb(120 32 26);
    width: 50%;
    height: 86px;
    margin: 0px;
    padding-top: 45px;
}

.content-img-actividad {
    z-index: 100;
    padding-top: 32px;
    width: 100%;
}

.img-activi {
    max-width: 100%;
    z-index: 100;
}

.back-green {
    background-color: #6fb14d;
    padding: 30px;
    border-radius: 30px;
}

.titulo_decorado {
    margin: 0px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    background: linear-gradient(215deg, #6fb14d, #6fb14d);
    width: 120%;
    position: absolute;
    left: -10%;
}

.contenido_decorado {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    height: 15em;
    width: 70%;
    left: 42px;
    /* border: solid 2px green; */
    /*margin-left: -30em;*/
    bottom: -6vh;
    -webkit-transition: height 1s;
    transition: height 1s;
    background: linear-gradient(278deg, #e9ec70, #e9ec70);
    ;
}

.contenido_decorado:hover {
    height: 30em;
    color: #000000;
    /*display: block;*/
}

.margin-auto {
    margin: auto;
}

.button-green {
    background-color: #6fb14d;
    color: #FFFFFF;
    padding: 8px 0;
    margin: 12px 0;
}

.img-font {
    background-image: url("assets/img/img_ova/industria.png");
    width: 10px;
}

.img-circle {
    padding: 15px;
    background-color: #FFFFFF;
    max-width: 90% !important;
    top: 3px !important;
}

.img-circle-2 {
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.div-circle {
    padding: 10px;
    background-color: #6fb14d;
    border-radius: 10%;
}

.img-libros {
    left: -96px;
    top: -59px;
}

.bg-circle-v-c {
    background: #6FB14D;
}

.bg-circle-v-o {
    background: #375125;
}

.bg-circle-a-c {
    background: #FFC000;
}

.bg-circle-a-o {
    background: #7F6000;
}

.w-h-15px {
    width: 15px;
    height: 15px;
}

.radius-50 {
    border-radius: 50%;
}

.cursor {
    cursor: pointer;
}

.bg-morado {
    background: #994991;
}

.bg-azul-c {
    background: #242e9f;
}

.w-h-30px {
    width: 50px;
    height: 50px;
}

.w-220px {
    width: 220px;
}

.rec-1 {
    top: 180px;
    left: -9px;
}

.rec-2 {
    top: 35px;
    left: 25px;
}

.rec-3 {
    top: 18px;
    left: 162px;
}

.rec-4 {
    top: 120px;
    left: 228px;
}

.rec-5 {
    top: 221px;
    left: 185px;
}

.rec-6 {
    top: 203px;
    left: 45px;
}

.bg-rec-morado {
    background: #896BF3;
}

.rec {
    border-radius: 50%;
    background: #242e9f;
    width: 50px;
    height: 50px;
    text-align: center !important;
    padding: 13px 21px 16px 19px !important;
    color: white;
    font-size: 15px;
}

.rec0 {
    border-radius: 50%;
    color: #242e9f;
    background: white;
    width: 50px;
    height: 50px;
    text-align: center !important;
    padding: 13px 21px 16px 19px !important;
    font-size: 15px;
    border: 1px solid !important;
    border-color: #242e9f !important;
}

.caja-texto-rosa {
    padding: 20px;
    height: 150px;
    border-radius: 20px;
    background-color: #f8cbad;
    margin-top: 85px;
    color: black;
}

.caja-texto-rosa p {
    overflow: auto;
    height: 113px;
}

.circulo_verde {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #6fb14d;
    margin-right: 6px;
}

.active {
    background: #598e42;
}

#slider,
#slider-2,
#slider-3,
#slider-4,
#slider-5 {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    background: #ffffff;
    text-align: center;
}

#slider-2 ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 900px;
    list-style: none;
}

#slider-2 ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 900px;
    background: #ffffff;
    text-align: center;
}

#slider-3 ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

#slider-3 ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    background: #ffffff;
    text-align: center;
}

#slider-4 ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 600px;
    list-style: none;
    overflow: hidden;
}

#slider-4 ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    background: #ffffff;
    text-align: center;
}

#slider-5 ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 1000px;
    list-style: none;
    overflow: hidden;
}

#slider-5 ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1000px;
    background: #ffffff;
    text-align: center;
}

a.control_prev,
a.control_next {
    width: auto;
    height: auto;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}

.triag_cambiaslide {
    width: 0;
    height: 0;
    border-left: 50px solid #6fb14d;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.w-w {
    width: -webkit-fill-available;
}

.verde-hover:hover {
    background: #375125;
}

.bg-verde-btn {
    background: #6FB14D;
}