.numero1{
	background-image: url('../assets/img/img_ova/1.png');
	/*height: 150px;*/
	background-size: 100% 100%;
	padding: 15px 15px 15px 75px;
}
.numero2{
	background-image: url('../assets/img/img_ova/2.png');
	/*height: 150px;*/
	background-size: 100% 100%;
	padding: 15px 15px 15px 75px;
}
.numero3{
	background-image: url('../assets/img/img_ova/3.png');
	/*height: 150px;*/
	background-size: 100% 100%;
	padding: 15px 15px 15px 75px;
}

.banneactiv_pdf{
	background: #DEEBF7;
	padding: 5px 5px 5px 5px;
}

.bannerindica{
	background: #5355A7;
    padding: 5px;
    border-radius: 10px;
}

.imgesquema{
	position: relative;
}

.opcion1{
	background: #b03a49;
	width: 247px;
	height: 142px;
	position: relative;
	top: -187px;
	left: 57px;
	padding: 30px;
	border-radius: 157px 162px 0px 0px
}
.opcion2{
	position: relative;
	top: -449px;
	left: 7px;
	width: 73px;
	height: 73px;
	background: #473ab0;
	border-radius: 50%;
	color: white;
	padding: 5px;
}

.opcion3{
	position: relative;
	top: -558px;
	left: 142px;
	width: 73px;
	height: 73px;
	background: #53edc9;
	border-radius: 50%;
	color: white;
	padding: 5px;
}

.opcion4{
	position: relative;
	top: -594px;
	left: 275px;
	width: 73px;
	height: 73px;
	background: #b9d640;
	border-radius: 50%;
	color: white;
	padding: 5px;
}
.barraAzul{
	background: #393A72;
	height: 80px;
}
.lineaWhite{
	background: white;
	height: 4px;
	position: relative;
	top: 40px;
}

.contcirculos{
	position: relative;
	top: -115px;
}

.circulosBorder{
	height: 150px;
	width: 150px;
	border: solid #393a72 4px;
	border-radius: 50%;
	text-align: center;
	padding-top: 25px;
	background: white;
}

.vineta{
	background-image: url('../assets/img/img_ova/vineta.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: -115px;
    height: 215px;
    padding: 60px 10px 1px 10px;
}

.font14{
	font-size: 14px;
}

.active{
	visibility: visible;
}

.inactive{
	visibility: hidden;
}
.circle_activi{
	height: 125px;
	width: 125px;
	background: #EDCC66;
	border-radius: 50%;
	text-align: center;
	border: solid #C69D18;
	box-shadow: 3px 2px 5px -1px;
}

.banner_info_activi{
	background: #5355A7;
	color: white;
	padding: 50px 10px 10px 10px;
	border-radius: 20px;
	position: relative;
	top: -50px;
}
.btn_verpdf{
	background: #393A72;
	color: white;
}

.custom-scrollbar_U2_1{
  position: relative;
  height: 90px;
  overflow: hidden;
}

.custom-scrollbar__inner_U2_1 {
  height: 100%;
  width: calc(100% + 40px);
  padding-right: 75px;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.custom-scrollbar__bar_U2_1 {
  position: absolute;
  top: 18px;
  bottom: 20px;
  background:#5355a7;
  width: 3px;
  right: 15px;
  border-radius: 4px;
  height: 60px;

}

.custom-scrollbar__knob_U2_1 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #5355a7;
  transform: translate(-50%, -50%);
  will-change: top;
  cursor: pointer;
}

.linea_scroll_U2_1 {
  font-size: 50px;
    margin: 0px;
    position: relative;
    top: -32px;
    color: #ffffff;
}

.borderblue{
	border: solid #5355A7;
	border-radius: 20px;
}

.triangulo_flecha_der{
	width: 0;
    height: 0;
    border-left: 10px solid #ffffff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-left: 2px;
}

.triangulo_flecha_izq{
	width: 0;
    height: 0;
    border-right: 10px solid #ffffff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.iconorojo{
	width: 25px;
	height: 25px;
	background: #da2316;
	border-radius: 50%;
	padding: 7px 0px 2px 1px;
}

.punta_targeta{
	width: 0;
    height: 0;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    border-top: 22px solid #da2316;
    position: relative;
    left: -14px;
}

.cuadrorojo{
	width: 22px;
    background: #da2316;
    color: white;
    text-align: center;
    position: relative;
    left: -14px;
}
.fondo1{
	background-image: url('../assets/img/img_ova/FONDO4.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 200px;
	width: 552px;
}
.fondo2{
	background-image: url('../assets/img/img_ova/FONDO5.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 200px;
	width: 552px;
}
.fondo3{
	background-image: url('../assets/img/img_ova/FONDO6.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 200px;
	width: 552px;
}

.numerador{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #5355a7;
	text-align: center;
	padding-top: 5px;
	position: relative;
	top: 142px;
	left: -13px;
}

.titulofondo{
	position: relative;
	top: 12px;
	left: 12px;
}
.textofondo{
	position: relative;
	top: 50px;
	padding: 22px;
}

.mostrado{
	display: block;
}

.escondido{
	display: none;
}

.recogible{
	background: #B13D50;
	
	border-radius: 20px;
	position: absolute;
}
.fondo_gris{
	background: #D5DBE5;
	height: 250px;
	border-radius: 20px;
	width: 106%;
	box-shadow: 1px 1px 5px 0px;
}
.abierto{
	height: 250px;
}
.recogido{
	height: 50px;
}
.contenidorecogible{
	padding: 70px 10px 10px 10px;
}