<!DOCTYPE html>
<html lang="es" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Crucigrama</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./backdrop.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app" class="" @keyup.escape="selected = undefined">
  <div class="table-container" style="display:none;" v-show="true">
    <div class="d-flex principal" style="padding: 20px;">
        <div class="col-md-5 col-sm-5 d-flex" style="width: 45%;">
           <img src="./img/actividad_interactiva.png" class="img-activi">
           <div>
               <div class="content-text-img-activi-2" style="width: 100%;">
                 <b class="text-img-actividad">ACTIVIDAD INTERACTIVA</b>
               </div>
               <p class="text-center" style="font-size: 16px;"><em>CRUCIGRAMA</em></p>
           </div>
        </div>
        <div class="col-md-7 col-sm-7 terciario" style="width: 65%;">
            <div class="info_actividad shadow" style="">  
                <p style="color: #000; text-align: justify;">Complete el crucigrama con palabras respectivas de acuerdo con las pistas brindadas. Al finalizar presione la opción “Calificar” para obtener el puntaje de esta actividad.</p>
            </div>
        </div>
    </div>
        <div class="col-md-12 col-sm-12">
            <p class="text-center p-4 p_black"><i>oprimir cada numero para ver una pista</i></p>
        </div>
    <!-- <div class="mensaje" v-if="mensaje !== undefined">
      <div class="content">{{mensaje}}</div>
      <button @click="mensaje = undefined" class="btn btn-primary">OK</button>
    </div>  -->
    <table>
      <tr v-for="(row, y) in matrix" :key="y">
        <td v-for="(cell, x) in row" :class="{empty: cell.empty, start: !!cell.start, selected: cell.words.includes(selected)}" @click="selectWord(cell.start)">
          <label v-if="!!cell.start">{{cell.start}}</label>
          {{cell.words.some(i => completed[i]) ? cell.letter : ' '}}
        </td>
      </tr>
    </table>
    <div v-if="selected !== undefined" style="text-align: center;">
      <p class="pista mt-5" v-if="pista" style="padding: 1px 20px;">
        {{pista}}
      </p>
      <input v-model="answer" ref="input" @keyup.enter="corregir"/>
      <button @click="corregir" class="btn btn-primary">Colocar</button>
    </div>
    <hr>
    <button class="btn" style="background: #003442; color: #FFF;" @click="finalizar"><b>Calificar</b></button>
  </div>  
  <h3 v-show="false">Cargando....</h3>
</div>

 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content tranparente" style="background: transparent;
    box-shadow: none;">
        <div style="" class="principal_1">
          <div style="" class="cabeza">
            
          </div>
          <div class="d-flex justify-content-center" style="height: 90px;">
            <div style="display: flex;" class="circulo_modal img_res">
              
            </div>
          </div>
          <div style="padding: 10px;">
            <div style="color: white;font-size: 18px;">
              Su puntaje es: <b class="puntaje"></b>
            </div>
            <div style="color: white;font-size: 18px;">
              <p class="mensaje"></p>
            </div>
          </div>
          <div class="row d-flex justify-content-center btns_modal">
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- partial -->
  <script src='https://unpkg.com/vue'></script>
  <script  src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script  src="../js/actividades.js"></script>
  <script  src="./script.js"></script>

</body>
</html>
