/*.azul_mas_claro{
	background-color:  rgba(51, 189, 255, 1);
}

.azul_claro2{
	background-color: #8ca6aa;
}

.azul_oscuro2{
	background-color: #47747c;
}

.azul_muy_claro2{
	background-color:  #c4e2ff;
}

.azul_mas_claro2{
	background-color:  rgba(51, 189, 255, 1);
}
.azul_claro_text{
	color: #0075A8;
}

.azul_oscuro_text{
	color: #004c6d;
}

.azul_uno{
	background: #B7CBD9;
}

.card1{
	padding: 0px;
	border-radius: 45px;
	border: solid rgba(0, 117, 168, 1);
	min-height: 600px;
}

.card_top{
	margin: 0px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.5rem;
	min-height: 300px;
	border-bottom-right-radius: 42px;
	border-bottom-left-radius: 42px;
}

.card1_bottom{
	margin: 0px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0.5rem;
	min-height: 300px;
	border-bottom-right-radius: 42px;
	border-bottom-left-radius: 42px;
	background-color: rgba(0, 117, 168, 1);
}

.card2{
	padding: 0px;
	border-radius: 45px;
	border: solid rgba(51, 153, 255, 1);
	min-height: 600px;
}

.card2_bottom{
	margin: 0px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0.5rem;
	min-height: 300px;
	border-bottom-right-radius: 42px;
	border-bottom-left-radius: 42px;
	background-color: rgba(51, 153, 255, 1);
}
.card3{
	padding: 0px;
	border-radius: 45px;
	border: solid rgba(51, 189, 255, 1);
	min-height: 600px;
}

.card3_bottom{
	margin: 0px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0.5rem;
	min-height: 300px;
	border-bottom-right-radius: 42px;
	border-bottom-left-radius: 42px;
	background-color: rgba(51, 189, 255, 1);
}

.card_flecha{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0.5rem;
	margin: 0px;
	border-radius: 45px;
	background-color: #01414b;
	min-height: 300px;
}

.triangulo-abajo {
	margin: 0px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid #01414b;
}

.punto {
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: rgba(0, 117, 168, 1);
	position: absolute;
    top: 15px;
}
.linea_delgada {
	margin: 0px;
	padding: 0px;
	height: 2px;
	background-color: rgba(0, 117, 168, 1);
}

.rotar270{
	-ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.titulo_decorado{
	margin: 0px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	background: linear-gradient(215deg, #0076a3, #c4d9ff);
	width: 120%;
  position: absolute;
  left: -10%;
}

.contenido_decorado{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	position: absolute;
  height: 12em;
  width: 70%;
  left: 42px;
  bottom: -6vh;
  -webkit-transition: height 1s;
  transition: height 1s;
  background: linear-gradient(278deg, #3d3a3a, #c4c4c4);;
}
.contenido_decorado:hover{
  height: 18em;
}

.widih_card{
	width: 263px;
}
.texto_efecto{
	position: relative;
	top: 2px;
	display: none;
	z-index: 100;
}

.contenedor_ajustado{
	width: fit-content;
}

.cursor{
	cursor: pointer;
}

.radius_modal{
	border-radius: 30px;
}
.blanco{
	background: #ffffff;
}
.transparente{
	background: #fff0;
}

p, button{
	font-size: 15px;
}


.header_abc{
	background: #98bec4;
	width: 40px;
	height: 40px;
	position: relative;
	top: -20px;
	left: 100px;
	border-radius: 10px;
}

.header_abc{
	background: #C4E2FF;
    width: 1.96cm;
    height: 1.96cm;
    position: relative;
    top: -30px;
    left: 100px;
    border-radius: 10px;
}


.azul{
	background: #0075a8;
}

.banner_aqua{
	width: 100%;
	height: 100%;
	padding: 25px;
	box-shadow: black 1px 5px 15px -4px; 
	z-index: 100;
}
.cont_targetas{
	position: relative;top: 50px;
	left: -16px;
}
.btn_abc{
	position: relative; 
	width: 10%; 
	border-radius: 10%;
	left: -10px;
	background: #c4e2ff;
	height: 50px;
}

.texto_abc{
	font-size: 40px;
	position: relative;
	top: -10px;
}

.img_arriba{
	position: absolute;
	top: -52px;
}
.azul_muy_claro{
	background-color:  #c4e2ff;
}
.targeta:hover {
  width: 115%;
  transition-duration: 3s;
}
.azul_claro{
	background: #8ca6aa;
}
.azul_oscuro{
	background-color: #47747c;
}

.text-abc{
	font-size: 40px;
	position: absolute;
	top: -15px;
	left: 8px;
	color: #47747c;
}



.custom-scrollbar {
  position: relative;
  width: 400px;
  height: 500px;
  overflow: hidden;
}

.custom-scrollbar__inner {
  height: 100%;
  width: calc(100% + 40px);
  padding-right: 75px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.custom-scrollbar__inner div {
  margin-bottom: 16px;
}
.custom-scrollbar__inner img {
  max-width: 100%;
}

.custom-scrollbar__bar {
  position: absolute;
  top: 150px;
  bottom: 16px;
  background:#00414c;
  width: 3px;
  right: 30px;
  border-radius: 4px;
}

.custom-scrollbar__knob {
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00414c;
  transform: translate(-50%, -50%);
  will-change: top;
}

.linea_scroll{
	font-size: 50px;
    margin: 0px;
    position: relative;
    top: -32px;
}


.custom-scrollbar2 {
  height: 180px;
}

.custom-scrollbar__inner2 {
  height: 100%;
  width: calc(100% + 40px);
  padding-right: 75px;
  overflow-y: auto;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.custom-scrollbar__inner2 div {
  margin-bottom: 16px;
}
.custom-scrollbar__inner2 img {
  max-width: 100%;
}

.custom-scrollbar__bar2 {
  position: absolute;
  top: 60px;
  bottom: 85px;
  background:#FFFFFF;
  width: 3px;
  right: 30px;
  border-radius: 4px;
  display: none;
}

.custom-scrollbar__knob2 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FFFFFF;
  transform: translate(-50%, -50%);
  will-change: top;
}

.linea_scroll2{
	font-size: 50px;
    margin: 0px;
    position: relative;
    top: -32px;
    color: #00414c;
}

.custom-scrollbar3, .custom-scrollbar4, .custom-scrollbar5 {
  position: relative;
  height: 400px;
}

.custom-scrollbar__inner3, .custom-scrollbar__inner4, .custom-scrollbar__inner5 {
  height: 100%;
  width: calc(100% + 40px);
  padding-right: 55px;
  overflow-y: auto;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.custom-scrollbar__inner3 img, .custom-scrollbar__inner4 img, .custom-scrollbar__inner5 img {
  max-width: 100%;
}

.custom-scrollbar__bar3, .custom-scrollbar__bar4, .custom-scrollbar__bar5 {
  position: absolute;
  top: 22px;
  bottom: 45px;
  background:#00414c;
  width: 3px;
  right: 30px;
  border-radius: 4px;
}

.custom-scrollbar__knob3, .custom-scrollbar__knob4, .custom-scrollbar__knob5 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00414c;
  transform: translate(-50%, -50%);
  will-change: top;
}

.linea_scroll3, .linea_scroll4, .linea_scroll5 {
	font-size: 50px;
    margin: 0px;
    position: relative;
    top: -32px;
    color: #FFFFFF;
}


@keyframes catanimation {
  from {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    margin: 0px;
    border-radius: 45px;
    background-color: #01414b;
    min-height: 300px;
    position: relative;
    top: 400px;
    visibility: visible;
  }

  to {
  	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0.5rem;
	margin: 0px;
	border-radius: 45px;
	background-color: #01414b;
	min-height: 300px;
	position: relative;
    top: 1px;
	visibility: visible;
  }
}


.card_flecha1{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0.5rem;
	margin: 0px;
	border-radius: 45px;
	background-color: #a9d18e;
	min-height: 300px;
	visibility: hidden;
	animation-duration: 2s;
    animation-name:catanimation;
	animation-iteration-count: 1;
	animation-delay: 2.5s;
	animation-fill-mode: forwards;
}
.card_flecha2{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0.5rem;
	margin: 0px;
	border-radius: 45px;
	background-color: #a9d18e;
	min-height: 300px;
	visibility: hidden;
	animation-duration: 2s;
    animation-name:catanimation;
	animation-iteration-count: 1;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}
.card_flecha3{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0.5rem;
	margin: 0px;
	border-radius: 45px;
	background-color: #a9d18e;
	min-height: 300px;
	visibility: hidden;
	animation-duration: 2s;
    animation-name:catanimation;
	animation-iteration-count: 1;
	animation-delay: 3.5s;
	animation-fill-mode: forwards;
}
.card_flecha4{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0.5rem;
	margin: 0px;
	border-radius: 45px;
	background-color: #a9d18e;
	min-height: 300px;
	visibility: hidden;
	animation-duration: 2s;
    animation-name:catanimation;
	animation-iteration-count: 1;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}

@keyframes aparecertriangulo {
  from {
    margin: 0px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid #01414b;
	position: relative;
    top: 400px;
    visibility: visible;
  }

  to {
  	margin: 0px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid #01414b;
	position: relative;
    top: 0px;
    visibility: visible;
  }
}
.triangulo-abajo1 {
	margin: 0px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid #01414b;
	
    visibility: hidden;
    animation-duration: 2s;
    animation-name:aparecertriangulo;
	animation-iteration-count: 1;
	animation-delay: 2.5s;
	animation-fill-mode: forwards;

}
.triangulo-abajo2 {
	margin: 0px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid #01414b;
	
    visibility: hidden;
    animation-duration: 2s;
    animation-name:aparecertriangulo;
	animation-iteration-count: 1;
	animation-delay: 3s;
	animation-fill-mode: forwards;

}
.triangulo-abajo3 {
	margin: 0px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid #01414b;
	
    visibility: hidden;
    animation-duration: 2s;
    animation-name:aparecertriangulo;
	animation-iteration-count: 1;
	animation-delay: 3.5s;
	animation-fill-mode: forwards;

}
.triangulo-abajo4 {
	margin: 0px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid #01414b;
	
    visibility: hidden;
    animation-duration: 2s;
    animation-name:aparecertriangulo;
	animation-iteration-count: 1;
	animation-delay: 4s;
	animation-fill-mode: forwards;

}
@keyframes aparecerpunto {
  from {
    width: 0px;
    height: 0px;
    margin: 0px;
	padding: 0px;
	border-radius: 50%;
	background-color: rgba(0, 117, 168, 1);
	position: absolute;
    top: 15px;
  }

  to {
  	margin: 0px;
	padding: 0px;
	border-radius: 50%;
	background-color: rgba(0, 117, 168, 1);
	position: absolute;
    top: 15px;
  	width: 20px;
   	height: 20px;
  }
}

.punto1 {
	

    animation-duration: 2s;
    animation-name:aparecerpunto;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}
.punto2 {
	

    animation-duration: 2s;
    animation-name:aparecerpunto;
	animation-iteration-count: 1;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}
.punto3 {
	

    animation-duration: 2s;
    animation-name:aparecerpunto;
	animation-iteration-count: 1;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}
.punto4 {
	

    animation-duration: 2s;
	animation-name:aparecerpunto;
	animation-iteration-count: 1;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

.borde_azul{
  border: solid 1px #321fdb;
}
.borde_azul_left{
  border-left: solid 1px #321fdb;
}
.borde_azul_right{
  border-right: solid 1px #321fdb;
}
.borde_azul_top{
  border-top: solid 1px #321fdb;
}
.borde_azul_bottom{
  border-bottom: solid 1px #321fdb;
}

.text-img-activi{
  border-bottom: solid 3px rgba(0, 91, 139);
  width: 50%;
  height: 86px;
  margin: 0px;
  padding-top: 45px;
}

.content-img-actividad{
	z-index: 100;
  padding-top: 32px;
  width: 100%;
}

.img-activi{
	  max-width: 100%;
    z-index: 100;
}

.text-abc{
	font-size: 60px;
    position: absolute;
    top: -14px;
    left: 17px;
    color: #3B7182;
}

.blue_top{
	position: relative;
    top: -28px;
    left: 60px;
}

.padding_scroll{
	padding-top: 20px;
}

.alto_aqua_banner{
	height: 320px;
}

.radius_modal_90{
  border-radius: 90px;
}

.justificado{
	text-align: justify;
}

.font14{
	font-size: 14px;
}

.border-green{
	border: 2px #6fb14d solid;
	border-radius: 30px;
	padding: 25px;
	margin-top: 10px;
	font-size: 14px;
}*/

.mg-left{
		margin-left: 20px;
}
.btn-y{
	background-color: #ff9900;
	margin-bottom: 10px;
	padding: 10px 0;
	/*padding: 10px 0;
	margin: 10px 0;*/
}


/*Deslizador*/

.inputDiv,.inputDiv2 {
  width: 100%;
  display:block;
  color:#aaa;
  position:relative;
}
.output{display:none; width:40px; text-align:center;}

input[type='range'] {
  display: inline-block;
  width: 100%;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #771E18;
  width: 30px;
  height: 30px;
  border: 3px solid #771E18;
  border-radius: 50%;
  margin-top: -15px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  background-color: #771E18;
  width: 25px;
  height: 25px;
  border: 3px solid #771E18;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  background-color: #771E18;
  width: 30px;
  height: 30px;
  border: 3px solid #771E18;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #771E18;
  height: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  background-color: #771E18;
  height: 3px;
}

input[type=range]::-ms-track {
  background-color: #771E18;
  height: 3px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background-color: #771E18;
  cursor: pointer;
}

input[type=range]::-ms-fill-upper {
  background-color: #771E18;
  cursor: pointer;
}

.bg-amarillo{
	background-color: #FF9900;
}
.bg-piel{
	background-color: #F3C8C5;
}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

a.animated-button.thar-two {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #FF9900;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-two:hover {
	color: #000 !important;
	background-color: #F3C8C5;
	text-shadow: ntwo;
}
a.animated-button.thar-two:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}
a.animated-button.thar-two:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #FF9900;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.cursor{
	cursor: pointer;
}

.bg-cafe-o{
	background-color: #420F05;
}

.base-triangulo{
	border-top: solid #420F05 16px;
  border-left: solid transparent 25px;
  border-bottom: solid #420F05 14px;
}

.punta-triangulo{
	border-top: 15px solid transparent;
  border-left: 25px solid #420F05;
  border-bottom: 15px solid transparent;
}

.h-30px{
	height: 30px;
}

.fondo-1{
	background-image: url(../assets/img/img_ova/portada-libro.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.fondo-2{
	background-image: url(../assets/img/img_ova/fondo_curuba.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.fondo-3{
	background-image: url(../assets/img/img_ova/fondo_guerra2.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.fondo-4{
	background-image: url(../assets/img/img_ova/fondo_tribunal.png);
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 300px;
}
.fondo-9{
	background-image: url(../assets/img/img_ova/libro abierto.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.border-left-cafe{
	border-left: solid #420F05 2px;
}
.border-bottom-cafe{
	border-bottom: solid #420F05 2px;
}

.min-h-400px{
	min-height: 400px;
}

.t-150px{
	top: 150px;
}

.bg-amarillo-c{
	background-color: #FFD966;
}

.bg-piel-o{
	background-color: #F4B081;
}

.bg-piel-mc{
	background-color: #F7CAAC;
}

.triagulo_abajo{
  border-left: 15px solid transparent;
	border-top: 25px solid #420F05;
  border-right: 15px solid transparent;
}

.w-60px{
	width: 60px;
}

.bg-gris-o{
	background-color: #D1D1D1;
}
.h-6px{
	height: 6px;
}
.h-80px{
	height: 80px;
}
.top-n40px{
	top: -40px;
}
.w-80px{
	width: 80px;
}

.justify-content-evenly{
	justify-content: space-evenly;
}

.border-amarillo{
	border: solid #FF9900 3px;
}

.w-h-50px{
	width: 50px;
	height: 50px;
}
.w-h-30px{
	width: 30px;
	height: 30px;
}

.bg-cafe-mo{
	background-color: #420F05;
}

.w-580px{
	width: 580px;
}

.Yugoslavia-1{
	top: -25px;
  left: 82px;
}

.Yugoslavia-2{
  top: -45px;
  left: 200px;
}

.Yugoslavia-3{
	top: -25px;
  left: 410px;	
}

.Yugoslavia-4{
	top: 150px;
  left: 420px;
}


.navegation{
    border-top: solid #420F05;
    border-left: solid #420F05;
    border-right: solid #420F05;
    height: 50px;
    padding: 5px 0px 1px 10px;
}

.activas{
  height: 4px;
  background: #420F05;
}
.font20{
  font-size: 20px;
}
.encendido{
  color: #420F05;
}
.inactivo{
  color: #BFBFBF;
}

.avance_blanco{
  background: #ffffff;
  height: 4px;
}

.activa{
  background: #420F05;
}



#slider-5 ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 500px;
  list-style: none;
  overflow: hidden;
}

#slider-5 ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  background: #ffffff;
  text-align: center;
}

a.control_prev, a.control_next {
  
  width: auto;
  height: auto;
  
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

/*scroll*/
.custom-scrollbar1, .custom-scrollbar2, .custom-scrollbar3 {
  position: relative;
  height: 219px;
  overflow: hidden;
}

.custom-scrollbar__inner1, .custom-scrollbar__inner2, .custom-scrollbar__inner3 {
  height: 100%;
  width: calc(100% + 40px);
  padding-right: 75px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/*.custom-scrollbar__inner1, .custom-scrollbar__inner2, .custom-scrollbar__inner3
  margin-bottom: 16px;
}
.custom-scrollbar__inner1, .custom-scrollbar__inner2, .custom-scrollbar__inner3
  max-width: 100%;
}*/

.custom-scrollbar__bar1, .custom-scrollbar__bar2, .custom-scrollbar__bar3 {
  position: absolute;
  top: 18px;
  bottom: 20px;
  background:#811111;
  width: 3px;
  right: 30px;
  /*right: 8px;*/
  border-radius: 4px;
}

.custom-scrollbar__knob1, .custom-scrollbar__knob2, .custom-scrollbar__knob3 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #811111;
  transform: translate(-50%, -50%);
  will-change: top;
}

.linea_scroll1, .linea_scroll2, .linea_scroll3 {
  font-size: 50px;
    margin: 0px;
    position: relative;
    top: -32px;
    color: #FFFFFF;
}